[2015-12-09 17:30] yagebu opened #7 "Remove api where possible?"
First of all thank you for the great work you've put into this! Not entirely satisfied with `bean-web`, I've written my own small web frontend for beancount a while ago, but this massively outperforms it.

At the moment performance is not great. I think in some cases it might be improved by removing the additional layer that the API introduces. The `_process_postings` functions is not really neces

[2015-12-09 18:44] aumayr commented on #7
The rationale behind `api.py` is the following:

One day there will be a new module in `beancount.report` that returns all (for `beancount-web` required) views as Python-`dict`s and -`array`s, compatible with JSON (so no `datetime`, etc.). Right now `beancount.report` does return data to be displayed in a console, and HTML, and this (JSON) could be a third way of "rendering" the data. These method

[2015-12-10 05:24] yegle opened #9 "Improve support for include directive"
It looks like the tool doesn't handle included files properly. Here's a minimal test case that demonstrate the problem.

invest.bean
[code]

accounts.bean
[code]

a.bean
[code]

b.bean
[code]

Run `beancount-web invest.bean` there's no error (except for the benign warning because `accounts.bean` was included twice), but there's no balance shown on the start page.

Use `bean-report -f beancount inv

[2015-12-10 08:42] yagebu commented on #7
Thank you for the explanation! Makes sense to not put too much logic into the templates, and keep the intense computational stuff in the api I guess.

I don't have a lot of code yet, so I'll wait for you to be done with the refactoring.

[2015-12-10 09:50] aumayr commented on #7
I just pushed the refactoring: 69f8d47d667f6a2f381889a3f9c60c91f76b8600

I haven't tested if it has influence on the performance, but I guess that has not changed a lot. I am looking forward to what you came up with :-)

[2015-12-10 10:23] aumayr opened #10 "Treemap: Option to display negative numbers"
redstreet0 on negative numbers:

[2015-12-10 12:35] #7 closed

[2015-12-12 20:15] aumayr commented on #9
I found the source for the missing values: `beancount.loader.load_file` does return a wrong `options_map`.

I filed a bug with `beancount` here: [blais/beancount/issues/91](https://bitbucket.org/blais/beancount/issues/91/options_map-misses-entries-from-multiple)

As soon as this is fixed in `beancount`-core it will work properly in `beancount-web`.

[2015-12-12 20:15] #9 closed

[2015-12-13 08:16] aumayr commented on #9
Martin fixed this yesterday in `beancount` ([changeset](https://bitbucket.org/blais/beancount/commits/ca4619ab2792c8a922d4fa15384f92fcc7c02b2d?at=default))

And I also changed `beancount-web` to display ZERO-values (current HEAD: 348f9fb5d6cd11d68b4f8e883a84307f989e0dbb)

@yegle Does it work now as expected?

[2015-12-13 12:29] aumayr opened #19 "Balance sheet: Numbers do not match `bean-web`"
The numbers shown on the Balance sheet do not match the output from `bean-web`

- Filters are not computed correctly by `beancount-web.api`
- `Equity:Earnings:Current` is missing from Balance sheet.

Test-file: [example.ledger.zip](https://github.com/aumayr/beancount-web/files/60970/example.ledger.zip)

[2015-12-13 19:48] yegle commented on #9
Yes the fix in beancount does solve my problem.

However I still don't see the chart (I suspected this issue is the reason of no chart, but apparently that's not the case...). Maybe I should file another bug?

[2015-12-13 20:06] aumayr commented on #9
That's because charts are only shown for operating currencies.

Try to add `option "operating_currency" "USD"` in your `invest.bean`, then the charts for `USD`-positions should be displayed correctly.

[2015-12-13 20:56] yegle commented on #9
Ah, thanks. This is not immediately obvious to me. Maybe some warning on the chart so people know that?

[2015-12-14 08:16] aumayr opened #22 "Hide "Other" column if operating_currency == commodities"
Hide the "Other" column in Tree Tables if `operating_currency` == `commodities` because then it is not needed.

[2015-12-14 08:18] #22 closed

[2015-12-14 08:20] aumayr opened #23 "Display warning when there is no `operating_currency` set"
Charts and other parts fail if there is no `operating_currency` set.

Display a warning when there is no `operating_currency`.

[2015-12-14 08:20] aumayr opened #24 "Display warning if there is no data for a chart"
Display a warning message if there is no data for a chart. Currently the chart stays blank.

[2015-12-14 08:22] aumayr commented on #9
Yep, created #23 and #24 to track those enhancements. Thanks for the feedback!

[2015-12-14 08:23] aumayr opened #25 "Change Year filter to allow for date ranges"
Currently the filter only shows (and filters for) full years. Change that to enable arbitrary date ranges.

[2015-12-14 08:25] aumayr opened #26 "Make filter-links bookmark-able"
- [ ] Move default filter adding/removing to POST-requests
- [ ] Make filter-links bookmark-able by using `request.args.getlist` on all filters.
- [ ] Provide the user with a *Filter-URL-Builder* (or at least a link with the currently set filters) to generate/bookmark the link to all current filters.

[2015-12-14 08:56] aumayr commented on #19
Test-File: [example.ledger.zip](https://github.com/aumayr/beancount-web/files/60968/example.ledger.zip)

[2015-12-14 10:22] yagebu commented on #25
I have implemented this in a branch and can submit a PR.

[2015-12-14 10:42] aumayr commented on #25
@yagebu Perfect, thanks! I just pushed some changes to the filters, so be sure to check them out before you create a PR.

[2015-12-14 14:44] #23 closed

[2015-12-14 20:28] aumayr opened #30 "Implement links to documents"

[2015-12-14 20:36] aumayr opened #31 "Handle daterange-filter-strings that cannot be parsed successfully"
When the user enters a daterange-filter-string that cannot be parsed successfully an error-message (or something like that) should be shown.

- [ ] Correct handling in `api.py`
- [ ] UI changes

[2015-12-14 20:39] aumayr commented on #25
Implemented in #27

[2015-12-14 20:39] #25 closed

[2015-12-15 05:47] aumayr opened #33 "Global option to render numbers in their absolute value"
@blais (from the Mailing list):

[2015-12-15 05:48] aumayr commented on #33
Should this be handled in ´api.py´ (so the frontend does not know about it)?

[2015-12-15 05:55] aumayr opened #34 "Render Journal entries asynchronously and with sensible defaults"
Right now all the data for Journal entries is stored in the HTML of the page, and rendered as full, before filtering the already rendered HTML-elements via JavaScript. Additionally, legs are shown by default, which is what many users do not want.

- [ ] Request Journal entries data via AJAX (non-blocking the UI)
- [ ] Only render the Journal entry types selected by the user (filter)
- [ ] Only ren

[2015-12-15 05:56] blais commented on #33
Not sure. I think I'll want to do the same in beancount/reports in eventually for those; if you're reusing that code, then it would make more sense for me to do it on that side. If not, then not.

[2015-12-15 06:01] aumayr opened #35 "Data up-to-date indication"
redstreet0@gmail.com (via Mailing list):

@blais  (via Mailing list):

[2015-12-15 06:05] aumayr opened #36 "Add script to "scrape-test" the frontend"
@blais (on the Mailing list):

[2015-12-15 07:10] corani opened #37 "ImportError: No module named 'beancount_web.util'"
When trying to start beancount-web after install, I get the following error:

[code]

"git-bisect" tells me:

[code]

[2015-12-15 07:22] #37 closed

[2015-12-15 07:24] aumayr commented on #37
Forgot to add new package to `setup.py`

Sorry for that, @corani

[2015-12-15 07:40] redstreet commented on #35
The "Update Activity per Account" on the statistics page you have seems to be a natural page to add this feature to, at least to begin with.

[2015-12-15 07:48] #30 closed

[2015-12-15 08:02] corani opened #38 "PermissionError when opening "statistics" page"
The `.webassets-cache` folder should probably be created by `setup.py`, since that's run with the correct privileges.

[code]

[2015-12-15 08:08] corani commented on #38
idem for the folder `/usr/local/lib/python3.4/dist-packages/beancount_web-0.1.0a2-py3.4.egg/beancount_web/static/gen`

[2015-12-15 08:12] corani opened #39 "Tables overlap on narrow screens / responsive design"
This happens both on my phone (below) and on my computer. Ideally, if the screen is not wide enough, the tables on the right should be put below the ones on the left.

![screenshot_20151215-161027](https://cloud.githubusercontent.com/assets/480775/11805608/29cdc372-a348-11e5-9764-9d63096d4f76.png)

[2015-12-15 08:19] aumayr commented on #39
@corani How narrow are we talking (in px)?

[2015-12-15 08:29] corani commented on #39
In the case of my phone, 1440px wide, my laptop approx. 1200px available space. On my external screen (~1850px available) it shows correctly.

Some experimentation shows that if the window gets below ~1235px on my computer, tables begin to overlap.

[2015-12-15 09:43] #34 closed

[2015-12-15 09:44] aumayr commented on #34
@blais I implemented that and it speeds up the rendering of a Journal dramatically!

[2015-12-15 10:22] #38 closed

[2015-12-15 10:24] aumayr commented on #38
Moved the target-folder for webassets to `static/stylesheets` because this folder already get's installed.

[2015-12-15 14:14] aumayr opened #42 "Enable filtering for entries with no payee"
See https://github.com/aumayr/beancount-web/blob/44f322f433a9a365daf3e4e28946ff0c31a2e401/beancount_web/templates/_entry_filters.html#L116

[2015-12-15 18:18] aumayr opened #43 "Show Tags in Journal"

[2015-12-15 18:43] #43 closed

[2015-12-15 23:13] yagebu commented on #31
I will work on this. I guess I should at least fix the features I implemented :D

[2015-12-16 03:05] blais commented on #34
Glad to hear!

[2015-12-17 01:31] redstreet opened #45 "Unreadable graph labels when there are many"
When the time span is long (in this case, 12 yearS), the labels on the horizontal axis become unreadable. See photo for example:
![bug1](https://cloud.githubusercontent.com/assets/691755/11858930/d63c7ef0-a41a-11e5-9835-81cb92db555d.png)

[2015-12-17 01:46] redstreet opened #46 "Sorting holdings by various columns [feature request]"
In the Equity/Holdings view, it would be nice if clicking on the column headers sorted them. bean-web does this currently.

[2015-12-17 02:04] redstreet opened #47 "Crashes when an invalid (?) time filter is chosen"
I tried to type "2014-2015" into the Time filter. It would be nice if that format worked (sneaking in a feature request here!), but given that it doesn't, I get an error:

http://localhost:5000/account/Assets:Bank:BankNane/monthly_balances/?filter_time=2014-2015

[code]

[2015-12-17 02:38] redstreet opened #48 "Clickable graphs [feature request]"
Making graphs clickable at various points to intuitively narrow down a search would be convenient. I have no idea how easy/difficult this is, but putting it in here to see if you like the idea.

Two currently obvious places:
- with treemaps, clicking on a rectangle would apply an additional filter of the account clicked on, going to a page as if the account was clicked
- with bar graphs used in mo

[2015-12-17 02:43] redstreet opened #49 "Treemap colors include background color"
One of the colors the treemap is currently rendering is the background color of the web page itself (white or close to it). This also happens to be the text label color. Obviously, the entire rectangle and its text disappears.

Could this color please be removed? Thanks!

[2015-12-17 15:42] yagebu commented on #47
This is basically a duplicate of #31 which I'll work on, but I'm quite busy right now, so it might take a few days before I get the time.

On the format: `2014 - 2015` will work. The spaces around the `-` are important, as this makes parsing the date simpler. Otherwise there can be confusion between `-` in a date or a range. Although it might be nice to remove this distinction.

[2015-12-18 00:55] redstreet commented on #47
Good to know ranges already work!

[2015-12-19 04:12] corani opened #50 "500-Error in wsgi:355 when running without --debug"
After pulling today, I am no longer able to run `beancount-web` without `--debug`. When I do, I get an Internal Server Error (500) at `wsgi:355`.

According to `git-bisect`, this is since 838afa4a8536c1d234d6f9c3de802c361d8740c0. I suspect this may be related to #38.

When I make sure `beancount_web/static` is writable for me, the problem goes away, and I see that a `packed-general.js` file is cre

[2015-12-19 10:38] redstreet opened #51 "Option to show transactions only in the account, but not children [feature-request]"
beancount-web currently shows:
parent-only total: dark black
parent + children total: gray

This is very useful. However, when one clicks on the account, there is no way to see a list of the transactions for only the parent account, without also seeing the the children's transactions intermingled. It would be great to add an option to the set of options (open, close, transaction, etc.) to turn off

[2015-12-19 14:14] aumayr commented on #47
I close this issue as @yagebu will fix it in #31

[2015-12-19 14:14] #47 closed

[2015-12-19 14:19] aumayr commented on #50
This is definitely related, thanks for reporting.

I don't know how to recreate this on my Mac - which OS are you using, @corani ?

[2015-12-19 15:42] corani commented on #50
I'm on Linux (Ubuntu 14.04).

beancount-web is installed as `root`, so the `static/stylesheets` folder is owned as such, however, I run it as a normal user, which therefor doesn't have write access at that location.

[2015-12-19 20:22] #26 closed

[2015-12-19 20:37] aumayr commented on #49
@redstreet Can you send/attach a small screenshot with the color you are referring to? I cannot find the near-to-white color you are mentioning in the treemap-color-definitions. Maybe with a screenshot I can track it down.

[2015-12-20 08:54] #50 closed

[2015-12-20 08:58] aumayr commented on #50
I don't know how to fix this properly, so I removed the "packaging" of JS-files altogether, serving the individual files again. This shouldn't be a performance problem, as the browser caches them anyway and they are almost certainly served locally, where speed/latency is also a non-issue.

[2015-12-20 08:59] aumayr commented on #38
See also 8068d4c8a0052bd69268818ca9e427af66bd34d6

[2015-12-20 09:21] redstreet commented on #49
I'm unfortunately unable to reproduce it using bean-example generated files.

I've attached a small portion of the right edge of the treemap, since this is a bit difficult to do without exposing a lot of private data. If it helps to know, I have about a 180 accounts in the hierarchy, and upto 5 deep. Also, if I hover over the white portions you see in the treemap, the text shown is almost the same

[2015-12-20 09:23] aumayr commented on #49
@redstreet This is exactly what I asked for, thanks! I will try to figure out what goes wrong here, since the white color is not part of the treemap-color-definition.

[2015-12-20 11:04] yagebu opened #54 "Rethink App state vs. Session state"
Currently, the set of filters is saved as a global state on the `app` object. So it doesn't survive restarts of the server and makes it impractical for several users to access the same beancount-web instance. I recommend we change this to save it as a session state. I can think of two possible ways to do this:

1. "Clean URLs". Filters are sent as `POST` requests and the current filters are saved

[2015-12-20 11:25] #45 closed

[2015-12-20 11:27] aumayr commented on #45
@redstreet The new limit is a maximum of 25 labels on the x-axis. The bar-tooltips now show the date, so you don't have to guess for which timespan the bar is.

[2015-12-20 11:39] aumayr commented on #54
I would prefer 1., because there may be more query strings in the future (think table-column-ordering, etc.) and managing every link on every page to always have the correct query strings sounds like a huge task.

For the "transparency"-argument in 2.: The filter-permalink shows all the selected filters in a way 2. would do, so that kind of transparency would be given in 1. as well. Do you agree?

[2015-12-20 12:10] corani opened #56 "Change Watcher works only once"
On my system (Ubuntu 14.04), it appears the change watcher works only once. If I make one change and refresh the page, the change shows up. Subsequent changes don't show up after page refresh.

When I restart the application, they (obviously) do show up again.

[2015-12-20 12:15] #49 closed

[2015-12-20 12:17] aumayr commented on #49
@redstreet There are 15 colors for 15 different categories in a treemap. If there are more, now there is a "backup-color" that is applied to all those (which were white until now). Does that work for you?

[2015-12-20 12:22] aumayr commented on #56
@corani I cannot reproduce this behavior. Do you make the changes on the main beancount file or on an included one?

[2015-12-20 13:55] corani commented on #56
No changes, only thing that might be different is that I'm running with `--host 0.0.0.0`, not sure if that could make a difference.

[2015-12-20 16:11] yagebu commented on #54
It would only be feasible to implement 1. if we can patch `url_for` to automatically append the query string (and `app.url_defaults` looks like it does exactly that). I would reserve query strings for things like filters that massively change the data that is displayed. I think the `URL` should be a precise (as far as possible) identifier for the page that's displayed; and `/income_statement/` and

[2015-12-20 17:05] aumayr commented on #54
True, and a good reason for 2.

Also very true, so again, looks more like 2. will be the winner after all :wink:

If this works and automatically adding the filters to `url_for` (with the possibility to add manual `GET`-parameters in the templates), then we should definitely go with the 2. option, keep everything in the URL query string.

I will create a new branch, and can you then create a PR to

[2015-12-20 17:09] aumayr opened #57 "Add CHANGES.md"
Add a `CHANGES.md`-document where big changes are noted, like in `beancount`.

[2015-12-20 17:10] aumayr opened #58 "Update LICENSE"
- [ ] Figure out what License would be best for `beancount-web`
- [ ] Add a `LICENSE`-file
- [ ] Add a license-note to all files

[2015-12-20 17:41] #57 closed

[2015-12-20 18:00] #19 closed

[2015-12-20 18:06] aumayr opened #59 "Add second "skin"/"theme""
Rubén Gómez (on the mailing list):

interested in the "skin" I can share the CSS.
Screenshots are attached.

Dominik:

"theme"/"skin" in beancount-web?

Rubén Gómez:

because I prefer the zeros with a dash and also is more condensed than
the default one.
Its license is the SIL Open Font [2] allowing be embedded in web
applications.

[1] http://www.dafont.com/share-techmono.font
[2] http://scripts.

[2015-12-20 18:19] yagebu commented on #58
GPL, same as `beancount` will make moving parts into the core simpler. Don't think the fact that's it more restrictive will hurt `beancount-web`.

License note in every file is ugly and as it seems unnecessary (https://programmers.stackexchange.com/questions/125836/do-you-have-to-include-a-license-notice-with-every-source-file/125841#125841)

[2015-12-20 18:39] yagebu commented on #54
Sounds good. My first steps are in my `filter-refactoring` branch which is a bit of a mess currently. As soon as I get it cleaned up and more complete I will submit a PR.

[2015-12-20 19:12] #46 closed

[2015-12-20 21:14] redstreet commented on #49
Thanks!

This certainly does solve the problem of invisible rectangles. However, where in the past, the smaller visible rectangles on the right (as shown in the screenshot I sent) had colors that matched their parents in the hierarchy, now they are all shown in gray. Meaning beyond a certain point in the treemap, all I see is gray rectangles, with no easy way to get a sense of whether they match a

[2015-12-21 00:41] aumayr commented on #49
This is exactly what the change should have done :-/ I will look into it again, but again, could you send a small screenshot, possibly from the same account/view as before?

[2015-12-21 03:02] redstreet commented on #49
Here it is:
![treemap](https://cloud.githubusercontent.com/assets/691755/11922475/1c9ab4c8-a74c-11e5-8925-029497909d74.png)

(Not showing the section to the left of it which is colored as before).

[2015-12-21 07:26] aumayr commented on #49
Ahh I see the mistake, thanks for the screenshot! Will fix it in the next couple of hours.

[2015-12-21 18:37] aumayr commented on #49
@redstreet Better? :innocent:

[2015-12-21 19:12] redstreet commented on #49
Terrific :),  thanks much again!
![treemap](https://cloud.githubusercontent.com/assets/691755/11938990/9f4e05a0-a7d3-11e5-9840-1b60770cc809.png)

[2015-12-21 19:18] redstreet commented on #45
@aumayr Works well now for both wide and narrow windows. :+1: for the tooltips too.

[2015-12-22 20:34] aumayr commented on #24
Implemented in 5fa0ce7d384aa997e6b2050453bda023dd65ee97

[2015-12-22 20:34] #24 closed

[2015-12-22 20:37] aumayr commented on #33
I looked into this and the right place for this setting is `beancount`. To honor this in all `api.py`-functions or to implement this in the templates of `beancount-web` itself would not be feasible.

[2015-12-22 20:37] #33 closed

[2015-12-22 20:43] aumayr commented on #39
@corani I kind of fixed this by setting the minimum width to `1235px`. Can you try out if this works for you on your laptop and phone?

[2015-12-22 20:49] aumayr commented on #56
On my Mac it works as expected (even with `--host 0.0.0.0`), but I will try to replicate it on an Ubuntu VM.

[2015-12-22 20:51] aumayr commented on #54
@yagebu Are any parts missing? I tried it out extensively today and noticed no bugs.

[2015-12-22 21:04] #10 closed

[2015-12-22 21:05] aumayr commented on #42
@yagebu Any idea how to implement this with the new filters?

[2015-12-22 21:24] aumayr commented on #35
@redstreet I implemented a first draft of this in the `up-to-date-indicator`-branch in f7972aa9235a44df7616779ef6e741b5373e4f24

Can you test if this looks (and works) like you expect it to (on the Statistics page in the "Update Activity per Account"-column)?

(Note: The `grey`-suggestion from @blais is not implemented yet.)

[2015-12-22 21:26] aumayr commented on #35
(This is really helpful! Tested it while coding it, and this definitely has to make it into `master` somehow, even if not directly on the Balance sheet but on the Statistics page).

[2015-12-22 22:07] redstreet commented on #35
It's awesome, and it passes all my basic tests! It's barely gotten out of the gate, and it's already useful to my actual data right away. Great to see this feature in action that I've always wanted so badly! Glad you find it useful too. Here are some comments:

- show account in red if _any_ balance check failed for an account (not just the last)

- the table should be sortable by the up-to-date i

[2015-12-22 22:15] redstreet opened #65 "Keyboard shortcuts [feature request]"
This is far out there, and I don't want to distract you from the terrific set of much more important features you're putting in currently, but it's an idea and I thought I'd mention it since this project is shaping up to be very well designed and very functional:

Have you considered adding keyboard shortcuts? An well designed example is gmail: if you don't already use it, then enable it in Settin

[2015-12-22 22:22] redstreet commented on #35
Here's IMHO another highly useful addition to this table: a button or control for each row that either:
- simply copies a readymade balance check line (in the becancount language) to the clipboard with the last date+1, the account, and the last balance, so I can paste it right into my source file
- or appends it the source file (this is complicated - append it to which source? I don't like to clob

[2015-12-23 03:40] blais commented on #35
On Tue, Dec 22, 2015 at 5:22 PM, Red S <notifications@github.com> wrote:

thinking about creating heuristics to automatically figure out where to
insert a new transaction automatically. So far all the ideas are heuristics
and depend on the presence of sectioning (e.g. org-mode), but that could be
a part of Beancount that gets reused across different tools.

[2015-12-23 07:49] yagebu commented on #54
I think the `url-defaults` branch contains everything needed for this issue (and I also didn't find any more bugs) so I'll close this :)

[2015-12-23 07:49] #54 closed

[2015-12-23 17:09] aumayr commented on #35
**Implemented:**

"Add up-to-date indicator to almost all account name links": da339256f691dda01aeb64aecd783c67f6983029

"Filter and setting to exclude accounts from up-to-date indicator": e6a49a9b6b798c0d4ceef19cd9ba05253967be84

"Uptodate indicators shown as circles and sortable": d1a561399834273808f7c8838e56783cb3a27c7b
"Uptodate indicator for Account view": ea8da23d9ba36ae5450c29507e9a625303fc

[2015-12-23 18:06] aumayr commented on #65
@redstreet Good idea!

Can you make a concrete suggestion which shortcuts (key + function) to add?

[2015-12-23 18:08] aumayr commented on #35
@redstreet Can you test the new changes again, please? (There are now settings as well, see CHANGES.md and the Options view.)

[2015-12-23 20:26] redstreet opened #69 "Crashes upon clicking on any account"
c52710f crashes upon clicking any account name:

Using git bisect:
e6a49a9b6b798c0d4ceef19cd9ba05253967be84 is the first bad commit

jinja2.exceptions.TemplateSyntaxError
jinja2.exceptions.TemplateSyntaxError: unexpected ']', expected ')'

Traceback (most recent call last)
File "/usr/lib/python3.4/site-packages/flask/app.py", line 1836, in __call__
return self.wsgi_app(environ, start_response)
Fil

[2015-12-23 20:42] #69 closed

[2015-12-23 20:43] aumayr commented on #69
Arrrr! Thanks, @redstreet!

(Need to work on #36 to prevent this...)

[2015-12-23 22:12] redstreet commented on #35
Yes, here are a few additional columns that would be helpful:
- current balance (as mentioned and responded to previously)
- number of days since last balance check (relative to the last entry date). If you add this, a suggestion I have is:
  - number if it's > 0
  - blank if it's 0 (i.e., no transactions after last balance check)
  - "NA" or something like that if there are no balance checks

- n

[2015-12-23 22:14] redstreet commented on #35
Okay, here is my feedback. First, I really like the circles - unobstrusive, yet informative. Also, the circle at the top of transaction pages next to the account heading is what I was going to suggest, but it's already there! Configurable # of days for gray is very usable. I tested several, though not all, options in the options file, and they work great.

- Gray and (yellow, green): these have an

[2015-12-23 22:19] redstreet commented on #65
I'd be most happy to do this. I'll get back in a day or two.

[2015-12-23 22:32] redstreet opened #70 "Create balance check entries in the uptodate-status table/page"
It would be nice to have a button that generates the beancount entries required to "promote" accounts from their current uptodate-status to the best uptodate-status (green), and copies it into the clipboard, so the user can paste it into their source and edit as required. This is helpful when the user has just updated their accounts, and sees that the balances correspond with their institution, an

[2015-12-24 02:09] blais commented on #35
On Wed, Dec 23, 2015 at 5:14 PM, Red S <notifications@github.com> wrote:

Beancount seems targeted towards having everything set in place correctly.
Implying, balance checks that fail should be fixed immediately. Pad
directives are there to ensure balance checks pass without imposting
impractical expectations on the user to have a 100% of their history. And
so on. This is one of the major draws fo

[2015-12-24 09:42] redstreet commented on #35
One more comment: if the last directive is a "close", and the one before that is a passing balance check, the account should always be marked green. Currently, it gets marked yellow.

[2015-12-24 12:19] aumayr commented on #31
Already fixed.

[2015-12-24 12:19] #31 closed

[2015-12-24 13:55] yagebu commented on #42
It's possible to pass the empty string along in the query string and we would have to write the frontend and backend code to handle that.

[2015-12-24 14:19] aumayr commented on #42
I can write the frontend code, but for the backend-stuff I need help. Are you interested in implementing this feature?

[2015-12-24 15:15] yagebu commented on #42
Took a quick look at the relevant code and since it wasn't much work, I just implemented it ;)

[2015-12-25 10:10] #42 closed

[2015-12-25 21:45] redstreet commented on #65
**Jumping to pages:**
<kbd>g</kbd> then <kbd>i</kbd>: Go to Income Statement
<kbd>g</kbd> then <kbd>b</kbd>: Go to Balance Sheet
<kbd>g</kbd> then <kbd>t</kbd>: Go to Trial Balance
<kbd>g</kbd> then <kbd>g</kbd>: Go to General Journal
<kbd>g</kbd> then <kbd>q</kbd>: Go to Custom Query

<kbd>g</kbd> then <kbd>h</kbd>: Go to Holdings
<kbd>g</kbd> then <kbd>w</kbd>: Go to Net Worth
<kbd>g</kbd> then

[2015-12-26 12:53] aumayr opened #73 "Enhance saving in Source editor"
- [ ] Remove popup
- [ ] Position cursor after saving where it was before saving

[2015-12-27 08:09] aumayr commented on #65
Thanks @redstreet for the list, looks perfect!

I implemented all of them* in the `keyboard-shortcuts`-branch for you to try out. If it works for you I will merge it into master.

(* all but the last one with the browser's search box - I couldn't get it to work :/ )

[2015-12-27 08:11] aumayr commented on #73
Implemented in 62cc4dd839a45b0150dcfc6985f720d70f2215d8

[2015-12-27 08:11] #73 closed

[2015-12-27 08:28] aumayr commented on #56
I tried to replicate it in a fresh Ubuntu VM with Firefox, but it still works for me. @corani  Can you double check if this bug still exists in the current `HEAD `?

Please feel free to reopen this issue if it is still not working.

[2015-12-27 08:28] #56 closed

[2015-12-27 15:55] #58 closed

[2015-12-28 00:14] redstreet commented on #65
Works great! The <kbd>l</kbd> doesn't matter really.

One other suggestion: Is it possible to add:
<kbd>?</kbd>: show keyboard help screen overlay with list of shortcuts (like in gmail). Escape should close it

Other than that, it looks good to go!

[2015-12-28 07:35] corani commented on #56
I'm still seeing this issue, but I'm okay with calling it a problem on my end, until someone else can reproduce it.

[2015-12-28 07:37] aumayr commented on #56
OK, thanks!

[2015-12-28 07:38] corani commented on #39
Yes, works for both now, awesome!

[2015-12-28 07:38] #39 closed

[2015-12-28 07:42] #51 closed

[2015-12-28 07:44] aumayr commented on #56
(Accidentally put this issue number into the commits above)

[2015-12-28 09:29] aumayr commented on #65
Perfect, I will merge it into master. Thanks @redstreet for the suggestions!

[2015-12-28 09:29] #65 closed

[2015-12-28 09:43] corani commented on #65
I love this, thanks!

[2015-12-28 20:49] aumayr opened #76 "Insert marker"
Specify an insert marker (like `;;; INSERT HERE`) in settings and position cursor in Source editor there.

[2015-12-28 21:10] aumayr commented on #48
I created a new branch called `clickable-graphs` where I implemented three things:

- In line charts you can now zoom by dragging a rectangle over the desired zoom area
- In bar charts you now can click on individual bars to filter for that month (all bar charts show months right now)
- In tree maps the label is now better clickable and leads to the corresponding account

@redstreet Can you test t

[2015-12-28 21:58] #76 closed

[2015-12-28 21:58] aumayr commented on #48
Already merged into `master`.

[2015-12-29 00:07] redstreet commented on #48
Treemaps work great! The bar and line charts work nicely too. A couple suggestions:
- line charts: works fine, but in terms of expectations, if I zoom in, I expected a time filter to be applied to the entire current view - including the table and the remaining charts. Instead, the line chart time axis gets out of sync with the table data and the remaining graphs

- bar charts: it would be nice if

[2015-12-29 00:23] redstreet commented on #51
Nice, thanks!

When I set ````journal-show-childentries = False````, The Treemap and bar chart still seem to include children, while the line chart doesn't, if I'm seeing this right?

[2015-12-29 06:58] aumayr commented on #51
That is correct, because if you set `journal-show-childentries = False` the treemap would only show one rectangle - the account you are viewing. Does that seem wrong/unintuitive to you?

[2015-12-29 08:47] aumayr commented on #48
@redstreet Thanks for the feedback!

- Line charts now also set the time filter.
- Bar charts do the same. With Bar charts there is a bit of fuzziness, because the JavaScript-library `beancount-web` uses for the chart-zoom-feature does not support Bar charts natively, so I had to code it myself.

[2015-12-29 08:47] #48 closed

[2015-12-29 09:05] corani commented on #56
I may have figured it out. I'm using VIM, and while watching the inotify events, I see that when I save, it generates a MOVE and DELETE. No further events after that (because it doesn't automatically starts listening on the newly created file)

[2015-12-29 09:07] aumayr commented on #56
Ahhh, now it makes sense. Thanks for investigating!

[2015-12-29 09:07] corani commented on #56
Confirmed, if I used a different editor (nano) it works as expected.

[2015-12-29 09:21] corani commented on #56
The easiest fix seems to be to watch the entire folder where beancount_file is located, though that might generate unnecessary reloads

[2015-12-29 15:05] corani opened #82 "Add "Year to date" time filter [feature-request]"
I generate my mortgage payment schedule automatically, so I have data for the next decade in my source file. This makes no sense in day-to-day reports, so I restrict the time range to "2015 - today".

It would be nice to have a predefined "Year to date" option for this in the time-filter dropdown.

[2015-12-29 15:09] aumayr commented on #82
Should be fairly easy to add this to the suggestions in the time-filter dropdown. Are you going to try to implement this, @corani?

[2015-12-29 15:47] corani commented on #82
Sure, I can take a stab at it. Where do you think it would fit better? In the `active_years` list, or in the `time_search_strings` search suggestions?

[2015-12-29 16:06] aumayr commented on #82
`time_search_strings` would be better, I think.

[2015-12-29 17:30] corani opened #84 "Context view doesn't work"
When I click on any link to a `context` page, I get the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/flask/app.py", line 1836, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/lib/python3.4/dist-packages/flask/app.py", line 1820, in wsgi_app
    response = self.make_response(self.handle_exception(e))
  File

[2015-12-29 22:21] redstreet commented on #51
Correct, that does seem unintuitive to me. In certain cases-  in particular, when a leaf account is chosen - the treemap simply serves as a visual confirmation of the selected context rather than providing ratio information. It would be confusing if the tree map show anything else but a solid rectangular block in this case.

Choosing a parent and excluding the leaves is the same situation, IMHO, a

[2015-12-29 22:46] #82 closed

[2015-12-29 22:47] aumayr opened #85 "Renaming `beancount-web`"
Martin Blais (on the Mailing list):

What do you think about renaming the project, @corani, @yagebu, @blais, @jbms?

[2015-12-30 00:13] redstreet commented on #48
One piece of feedback here: when I click to zoom or select on a bar chart or treemap, and when the page subsequently reloads with the new filter, I'm left seeing the line chart. If it's easy to put the user back on the same chart (bar or treemap) rather than return them to a line chart, it would make for a smoother experience.

[2015-12-30 00:35] redstreet opened #86 "Commas in axis labels"
Hovering over data points on all chart types shows commas, but but the line and bar chart axes don't have commas. Wondering if there is an easy way to turn these on? Thanks.

[2015-12-30 00:43] yagebu commented on #85
Giving it a

[2015-12-30 00:56] yagebu commented on #85
I definitely think that renaming it is a good idea (it's to close to the beancount commands otherwise). My additional suggestion for a new name would be `erbse` (as in the German word Erbsenzähler, the translation of beancounter). It's quite short and the namespace is not polluted by all the other `bean-*` commands.

The suggestion by Martin I like best is "fava" as it's also short and it's a type

[2015-12-30 03:18] corani commented on #85
I'm kind of partial to "fava", it has a nice ring to it, though something
like bean-sight keeps it closer to the beancount brand and is descriptive
in itself.

On Wed, Dec 30, 2015, 08:56 Jakob Schnitzer <notifications@github.com>
wrote:

[2015-12-30 03:39] corani opened #87 "Treemap labels on top of filters"
When the treemap on the `balance sheet` page is shown, it's labels will show on top of the filter-dropdown menus.

Browser: Version 45.0.2454.101 Ubuntu 14.04 (64-bit)

![screenshot from 2015-12-30 11 27 14](https://cloud.githubusercontent.com/assets/480775/12045951/d02b4784-aee8-11e5-9750-7b0676e38766.png)

[2015-12-30 07:54] #86 closed

[2015-12-30 08:43] #87 closed

[2015-12-30 08:48] aumayr commented on #84
Does this happen for every `context`-link?

(I try to reproduce it, but for me all links work.)

[2015-12-30 08:54] corani commented on #84
For every one I've seen so far. I'll try to do a little more digging.

[2015-12-30 09:04] corani commented on #84
Ah, figured it out. After updating beancount to the latest version, the problem is fixed.

[2015-12-30 09:09] #84 closed

[2015-12-30 09:09] aumayr commented on #84
:+1:

[2015-12-30 09:15] aumayr opened #89 "Wrapping `beancount-web` with electron.atom.io"
As an addition to the `beancount-web [filename]`-way of starting `beancount-web` I'm thinking of wrapping it with http://electron.atom.io to create a standalone-version of the  "app".

Motivation: My girlfriend want's to use `beancount-web`, but she has no idea what a Terminal is or how to run commands/programs in it. I do not want to deploy `beancount-web` to a public webserver, as this creates c

[2015-12-30 09:50] aumayr commented on #89
https://www.fyears.org/2015/06/electron-as-gui-of-python-apps.html

[2015-12-30 10:55] corani commented on #89
If you package beancount with it, and allow creation of new source files (new/open/save), you'd have a full standalone bookkeeping solution :smile:

[2015-12-30 10:58] aumayr commented on #89
That's basically the goal :wink:

Are you interested in this, @corani?

[2015-12-30 11:06] corani commented on #89
It's not really something I need urgently. I'm happy building from source, and my wife can access beancount-web from the local network as-is.

However, it doesn't sound like an awful lot of work, and could be quite separate from the project as it stands. If you feel like it'll make adoption easier, by all means go for it! I'd be happy to help out where I can.

[2015-12-30 12:47] aumayr commented on #89
The new/open/save feature is already in `beancount-web`: The editor in the Source view can open files, has Syntax highlighting, Suggestions based on Accounts opened/Currencies/Tags, and can save files to disk again. The only thing missing is the creation of new files, but the "Application" could create one on first launch, etc.

[2015-12-30 13:59] corani commented on #89
What I meant was opening arbitrary files, not just source files supplied from the command line (or linked from that file)

[2015-12-31 09:23] aumayr opened #90 "Marketing"
Add to `README.md`:

- [x] Screenshots
- [ ] List of notable features
- [x] http://darthcloud.pythonanywhere.com Link

Create:

- [ ] `beancount`-Syntax primer
- [ ] Build Syntax primer into Help feature of `beancount-web`
- [ ] Website for `beancount-web`?

Anything else?

[2016-01-03 05:34] blais commented on #36
Glad it works.
Just curious: Why not just import it from Beancount itself?
If you'd like I remove the import of beancount.web.web, I can find a way to
isolate it so you could import the scraper directly instead of forking it.
Let me know,

On Sun, Dec 27, 2015 at 10:47 AM, aumayr <notifications@github.com> wrote:

[2016-01-03 05:52] blais commented on #36
I isolated away the dependency to beancount.web.web in the scraping code.
If you'd like to just import it and reuse it, you can now do that.
https://bitbucket.org/blais/beancount/commits/0a17a0f0e00a445f64a7b66c37f9f6007073358e

On Sun, Jan 3, 2016 at 12:34 AM, Martin Blais <blais@furius.ca> wrote:

[2016-01-03 07:03] redstreet commented on #85
Not that I've contributed a single line of code to even be reading this thread, let alone comment in it :), but since I like this project so much, I'll say this: FWIW, fava and bean-sight are the ones that stood out to me too.

bean-sight would be a nice idea particularly if you envision this project expanding to provide all kinds of insight. One large area is providing insight into one's investme

[2016-01-03 07:19] redstreet opened #91 "Selectively hiding accounts in the account hierarchy"
This is a feature request, if it interests you: it would be useful to be optionally able to not display leaf accounts in the hierarchy in various situations:
- when there are zero transactions for a given account in the current context (period/filters)
- when the final balance is zero in the current context
- when the account has been closed (when you don't want to see a bunch of irrelevant accoun

[2016-01-03 12:04] blais commented on #85
You could also go mystical with "khipu":
http://mobile.nytimes.com/2016/01/03/world/americas/untangling-an-accounting-tool-and-an-ancient-incan-mystery.html?_r=0

On Sun, Jan 3, 2016, 02:03 Red S <notifications@github.com> wrote:

[2016-01-04 17:13] aumayr commented on #36
Thanks @blais! I will simplify the code and use your function instead.

[2016-01-06 02:55] redstreet opened #92 "Link for custom editor [feature request]"
The built-in editor in beancount-web is a nice touch especially for small edits, but it would be great to link to a beancount:// url as shown in [1], to allow for the power of a custom editor to be opened up. I used this feature extensively with bean-web, and miss it in beancount-web. If you would consider adding this in, that would be great! Perhaps as an option in the .conf file?

https://groups

[2016-01-06 09:22] corani commented on #92
Would the following be a good solution?

Create an option (boolean): `open-source-files-externally` (this can be set using the `--settings-file` command-line argument)

If the option is set to true, the "Source" page will list the source files as beancount URI links, instead of the current dropdown + editor. Other source-links (e.g. from `errors` or `context`) will use the beancount URI scheme as

[2016-01-06 09:28] redstreet commented on #92
Sounds good!

For clarity, I'd name the option ````open-source-files-in-external-editor ```` or simply ````use-external-editor ````.

[2016-01-06 09:32] corani commented on #92
`use-external-editor` sounds better indeed :smile:

I'll see if I can whip up something in a pull request.

[2016-01-06 09:47] aumayr commented on #92
Sounds great! I already have the tooling ready to register the URL-scheme on a Mac, so I will add that as well. What is missing are scripts to register the scheme on Windows and Linux.

[2016-01-06 09:50] redstreet commented on #92
I can add Windows and possibly Linux scripts as well once I'm able to test.

[2016-01-06 10:11] corani commented on #92
@aumayr This issue isn't tagged as `feature` yet

[2016-01-06 10:21] corani commented on #91
I don't think hiding specific accounts is a good idea (it messes up the totals) or hiding accounts with zero balance (it makes them difficult to find)

However, I can see the merit of hiding accounts with no transactions.

I believe accounts closed before the start-date or opened after the end-date of the current context are already hidden.

[2016-01-06 14:38] corani commented on #92
@aumayr I like the read-only view you added, but the page is getting rather long due to my large history. Is there any way to make it behave more like the internal editor? (make the links load the files asynchronously)

[2016-01-06 20:09] redstreet commented on #91
Good point. Perhaps an alternative is to allow for a config option in the .conf file where one can list accounts, either directly, or through a regexp that need to be shown collapsed by default? The idea is to allow better insight by reducing visual clutter for those with detailed hierarchies that are long and deep. For example, when I am analyzing investments, I'd rather not see a long list of ac

[2016-01-07 07:54] aumayr commented on #92
@corani Yes, I can add that.

[2016-01-07 08:21] redstreet commented on #92
````use-external-editor```` works great, thank you!

I am ready to add the Windows portion of registering the beancount:// URI.  This consists of two files: a .reg registry file, and a .bat batch file. If @aumayr or @corani could please suggest a good location in the source tree to place them, I'll submit a pull request. Thanks again!

[2016-01-07 08:25] redstreet commented on #35
@blais yes, I think this would be very useful both here and in other places as well. Would you like me to submit a request at beancount's bitbucket site?

[2016-01-07 11:49] blais commented on #35
Yes please file a ticket
Thanks

On Thu, Jan 7, 2016, 3:25 AM Red S <notifications@github.com> wrote:

[2016-01-07 12:37] aumayr commented on #92
@redstreet sure:

- First create a `windows` and `linux` directory in `beancount_urlscheme` and place any scripts (except python), binaries or executables that you need in there (as I did in the `mac` directory).
- Then extend the `register` command to include the newly supported platforms here: https://github.com/aumayr/beancount-web/blob/master/beancount_urlscheme/beancount_urlscheme.py#L41-L53

[2016-01-07 13:59] #70 closed

[2016-01-07 14:00] aumayr commented on #70
@redstreet Please try if this does what it should :-)

[2016-01-08 00:57] redstreet commented on #35
Done: https://bitbucket.org/blais/beancount/issues/95/provide-a-standardized-method-to-identify

[2016-01-08 01:07] redstreet commented on #70
Nice, thank you! This addresses the case of generating these entries for single accounts. Feedback:

- it would be even more valuable to have a button or something that would generate and copy *all* non-green balance entries to the clipboard, in the order displayed in the table, all at once. The real value here is to "green" many accounts with minimal effort (presumably after the user  looks at al

[2016-01-08 02:03] redstreet commented on #70
One other major point: there needs to be a current balance column in the table. Else, it's not easy to tell whether or not an account needs to be upgraded to green. I can see the balance appears on hovering, but that's too painful to use if I have lots of accounts that need attention.

[2016-01-08 07:33] redstreet commented on #91
Cool, works nicely, thanks!

Would you consider adding options to hide accounts with zero transactions, and those with zero balances in the current context? Or is that too much of a pain?

[2016-01-08 07:44] aumayr commented on #70
Thanks @redstreet for testing and feedback!

I added that feature (e1547662f245d932309d25350204553e44cf6d6f). It copies all balance directives for none-green accounts, and there is a tooltip to preview the text. It is generated in the order that is the default-order (if you change the order via clicking the table header the new ordering is not taken into account).

Which browser are you using?

I

[2016-01-08 07:55] redstreet commented on #70
Thank you - this works beautifully! :)

I'm using Chrome on Win7. Since the green dots don't copy any more (which is good), I don't see the issue any more. A small related issue: the "known good" hover text includes the "Click here to copy" text, which should be removed, right?

[2016-01-08 09:12] aumayr commented on #70
No, this sounds like a bug! I did not remove the functionality for the "known good"s, but it seems that it just does not work in your browser. I need to look into that, and fix it if I can reproduce it.

[2016-01-08 09:16] aumayr commented on #91
I think zero transactions should be the easier one, but zero balances sounds strange. What if there are transactions, but the account balance goes to zero? Would you like to hide it as well?

[2016-01-08 09:17] redstreet commented on #70
Okay, I can try to pinpoint the exact behavior tomorrow if that will help, and also try on a different browser, and get back to you.

[2016-01-08 09:19] aumayr commented on #70
Awesome, thanks!

[2016-01-08 09:34] aumayr commented on #92
@corani Done: cf223295afd135c552aa27e4187278c31689b37e

[2016-01-08 11:04] corani commented on #92
Awesome, thanks!

[2016-01-09 03:01] redstreet commented on #70
Works fine on IE and on a fresh Chrome profile, so I'll chalk this one up to something with my browser plugins/cache etc.

One issue: accounts that have been closed have a blank after "Click here to copy:" and do not copy anything. The behavior is correct, but the "Click here to copy:" text should be removed.

The "Statistics" page now takes a while to load, understandably. It's not terrible, but

[2016-01-09 03:06] redstreet commented on #91
Yes, I think these would each be separate options ("hide-accounts-with-zero-transactions" and "hide-accounts-with-zero-balance"). The former is obviously helpful, but the latter is also helpful in several situations like:
- dormant (but not closed) Asset or Liability accounts (say bank or credit card). I (and I suspect many users) spend a lot of time without a time-context selected, and in these c

[2016-01-09 03:36] redstreet commented on #92
Thanks @aumayr . Submitted pull request #95. Unfortunately, it's not easy to use the existing beancount_urlscheme.py in cygwin, because of the following limitations:
1) Windows registry install needs to be called as admin, and I can't seem to find a way to execute thsi from within Cygwin
2) Using beancount_urlscheme.py each time a user clicks on the web would not work well in Cygwin because it's n

[2016-01-09 08:08] aumayr commented on #92
Thanks, @redstreet! Although it is not entirely userfriendly, I can understand the hassle!

[2016-01-09 08:08] #92 closed

[2016-01-09 21:16] redstreet commented on #35
Summarizing largely for myself here, so I know which ones I've already mentioned without re-reading
- [ ] give uptodate info its own page with data shown
- [ ] show two dots: a) red/yellow/green b) gray
- [ ] pick up uptodate-indicator from account metadata
- [ ] ignore entries added by plugins (dependent on beancount changes)
- [ ] sort-by-color order: red->yellow->green->no_circle
- [ ] show in

[2016-01-11 10:04] corani opened #96 "Save Beancount Queries"
One of the distinctive features of Beancount is the ability to write `SQL` like queries to create custom reports. For example, today I needed to get an overview of my expenses per month over the last year:

[code]

Instead of creating these queries from scratch every time (or having to save them elsewhere), it would be useful if it were possible to save them, right from the `Custom Query` page.

U

[2016-01-11 10:09] corani opened #97 "Filters shouldn't be shown on every page"
Currently the filters (Time, Tag, Account, Payee) are shown on all pages. However, they don't make sense for a bunch of them, including `Custom Query` and the `Configuration` section pages.

[2016-01-11 10:19] aumayr commented on #96
This would definitely save some time!

What I like about `beancount-web` is that it is "stateless", in the sense that it does not have it's own database. All data is coming from `api.py` and the `.conf`-file.

I think we should keep it that way, even when implementing a feature like this. So in order to implement this, the following would keep it that way (in my mind, anyway ;-) ):

 - Store the q

[2016-01-11 10:20] aumayr commented on #96
I will create a new branch and take a shot at it.

[2016-01-11 10:35] corani commented on #96
Great, plain text file for the queries is what I had in mind as well. Maybe something like:

[code]

[2016-01-11 14:31] nomorethirst opened #99 "First Impression Feedback"
Sorry about my original post.  When I first logged into Github to view this issue tracker, I saw a message that Github thought I was a  robot and to contact support to make my profile public again, and then the textbox for posting, which I quickly posted that I was a human.  Then I saw it was your issue tracker -how embarassing!  So, I decided to overwrite it and give you my feedback for beancount

[2016-01-11 14:50] aumayr commented on #96
@corani I added a first draft of the code in e0e7319. Can you try and report back if this fits your needs?

[2016-01-11 14:50] #97 closed

[2016-01-12 03:26] corani commented on #96
You're almost there! This is working a treat.

A couple of issues I found:
- if the stored-queries file doesn't exist, it should be created
- `~` to indicate the user's home folder doesn't work
- After saving a query, the select box isn't updated until after the page is reloaded
- Selecting the first "empty" option from the select box doesn't clear the query editor
- After you press `Submit Query`

[2016-01-12 07:08] aumayr commented on #96
Thanks for the feedback! Some of those suggestions are so obvious that I don't know how I could have missed them... will implement them in the coming days.

Another idea: Why not share the queries with others? Would work like follows:

- Public Github-Repo with the queries
- Display some as examples on the Query-page (randomly choosen)
- Make a website to display them all, with syntax highlighting

[2016-01-12 08:22] corani commented on #96
Since that is going quite a ways beyond this feature, it'd probably be better to create a new feature for that. I like the idea, but this could be something quite separate from beancount-web, since it would probably require a public server component.

We should probably get some input on this from Martin and the beancount mailing list as well, as it'd be useful to them too.

[2016-01-12 08:24] aumayr commented on #96
Absolutely correct!

[2016-01-12 10:51] aumayr opened #100 "Resizing the Browser window does not resize charts [bug]"

[2016-01-12 16:46] aumayr commented on #100
Works for `Chartist.js`-charts (Bar, Line), but unfortunately the library for the treemaps does not support resizing.

[2016-01-12 16:46] #100 closed

[2016-01-12 17:15] aumayr commented on #96
@corani Before I write something on the mailing list I just quickly want to show you how this could look like and politely ask for feedback: http://aumayr.github.io/beancount-sql-queries/

[2016-01-12 21:23] aumayr commented on #70
Fixed in 18fee41

[2016-01-12 21:44] aumayr commented on #89
I moved this into it's own repository (https://github.com/aumayr/beancount-web-electron) and will contine development there.

[2016-01-12 21:44] #89 closed

[2016-01-12 23:17] aumayr commented on #96
7e5e9fbf5507933a142ae760b239a1a033cc101b

096b0f74c4042358a2fa59b7c71bf15588b12238

25401b96ae74203a9d1446961b44c7cb2646d459
d93e4eca0e93bce6ba7444287fac2a3a4c1de186

0b87201151f97c5c8cbbb6f8dfcf3fd76f1f522c

4b835ba8816216a328576fc27a5d4acb3d403c2f

f04c98cbaae29740fb395b5c5e14c43696d71c83

@corani Still missing:

[2016-01-13 03:37] corani commented on #96
Looks good, one (inline) comment for `create file if it doesn't exist`: It should also (attempt) to create the path. I'll give it a spin later today and let you know if I still find anything.

[2016-01-13 08:11] corani commented on #96
It's working great.

I've added a `Delete Query` option as well.

By the way, we may need to have to rethink the current query reference-by-index, since this'll cause issues when editing queries from more than one location at the same time.

[2016-01-14 12:26] yagebu commented on #96
As beancount actually supports a `Query` directive, another possible place to store (and definitely read) them would be in the beancount file (we could at least generate the entries so that you can just copy-paste them to the file). It's an experimental feature, but I think this is a good place to discuss if they're generally useful. Would be nice if this was not just something `beancount-web` spe

[2016-01-14 12:48] corani commented on #96
Interesting. I'd definitely be in favor of pulling it up into beancount, if that is possible.

[2016-01-15 10:40] aumayr commented on #96
Merged the PR from @corani into `master`, which adds this functionality via the `query` directives suggested by @yagebu.

What is missing is correct syntax highlighting in the Source editor for these multi-line strings.

@corani What should we do with the other work in the `store-custom-queries`-branch (storing the queries in a file)? Discard it?

And do you have feedback for  http://aumayr.github

[2016-01-15 10:56] corani commented on #96
As useful as `store-custom-queries` is, I believe #104 is more elegant and in-line with the beancount philosophy. Using the `Query` directive may be one more step than being able to store the queries directly, but it has the added benefit of the queries being available to beancount as well, plus not needing an extra file.

We should wait on @blais for confirmation that this directive is there to s

[2016-01-15 10:58] corani commented on #96
The `beancount-sql-queries` looks fine, but I don't think it'll stay usable after collecting a few dozen queries. Maybe some kind of wiki would be an option?

[2016-01-15 12:48] blais commented on #96
On Thu, Jan 14, 2016 at 7:26 AM, Jakob Schnitzer <notifications@github.com>
wrote:

Yes, unless it's proven to be problematic over usage.

My only doubts are because there's no reporting script making use of them
right now, and I don't like to have unused fluff around too much, but if
you're using it, I could move it from being experimental to being permanent.

[2016-01-15 12:51] blais commented on #96
I had originally created a doc to gather feedback and user queries here:

https://docs.google.com/document/d/1uHonpRkbZ5wMCoZtzCBSBrl959Ciy4gq4aTB7A-m8Uk/edit#heading=h.i0jeumnvcgbd

The doc has gone a bit stale over the piling amount of other things to do.
I need to reconcile all the TODO lists I have into the beancount/TODO file
and clean that up at some point.

On Fri, Jan 15, 2016 at 5:58 AM,

[2016-01-15 12:55] corani commented on #96
That's great, @aumayr I think in that case we can discard `store-custom-queries`.

@blais I was thinking that it might be useful in beancount to let bean-report run these canned queries, so you can do e.g. `bean-report "expenses per month"` in the same way as you can do `bean-report balances`

[2016-01-15 13:09] blais commented on #96
Yes, that's what I have in mind, or a way to run all the queries
automatically, something like a better version of this that uses input from
the input file instead of hardcoding the queries:

https://bitbucket.org/blais/beancount/src/0f41ec6f15e12ced44b4571a5f2ef85b2f875e30/src/python/beancount/plugins/split_expenses.py?at=default&fileviewer=file-view-default#split_expenses.py-218

I think it will

[2016-01-15 13:25] corani commented on #96
I noticed that you support (at least with the query directive) multi-line strings using single double-quotes (`" ... "`). Do you think it would be a good idea to do multi-line strings with triple double-quotes (`""" ... """`)?

This would avoid problems when queries contain quotes, and make adding embedded SQL syntax highlighting within beancount-web a bit easier.

[2016-01-15 13:40] blais commented on #96
I haven't thought about this so much but at the write I added this I
thought because of the requirements of the language it wasn't necessary to
escape multi-line strings in this way, though I admit I've witness syntax
highlighting problems a few times. I'm not opposed to changing the parser
to add this in.

On Fri, Jan 15, 2016 at 8:25 AM, Daniel Bos <notifications@github.com>
wrote:

[2016-01-15 14:19] corani commented on #96
@blais should I open a bitbucket issue for adding triple-quoted strings?

[2016-01-15 14:51] blais commented on #96
Sure. But I already created an entry in the TODO file.

On Fri, Jan 15, 2016 at 9:19 AM, Daniel Bos <notifications@github.com>
wrote:

[2016-01-18 04:19] xentac opened #108 "When -H 0.0.0.0 is used, a nonsensical livereload.js script tag is added"
I use beancount-web within a docker container, so the local IP doesn't make any sense anyway.

-H 0.0.0.0 leads to <script src="http://0.0.0.0:5000/livereload.js"></script>

[2016-01-18 04:57] xentac commented on #108
That was supposed to be a http://0.0.0.0:5000/livereload.js script tag...

[2016-01-18 05:25] corani commented on #108
This looks like an issue that has already been fixed in livereload: https://github.com/lepture/python-livereload/commit/2ca26a04b8c235d81171684208a7f4cbe5c5e78d

[2016-01-18 14:25] aumayr commented on #108
@xentac Does this answer your question?

[2016-01-18 14:26] aumayr commented on #96
As this is now implemented in `beancount-web´ I will close this issues. Thanks everybody for the work!

[2016-01-18 14:26] #96 closed

[2016-01-18 15:43] corani commented on #108
@lepture is it correct that https://github.com/lepture/python-livereload/commit/2ca26a04b8c235d81171684208a7f4cbe5c5e78d (fix for using host: 0.0.0.0) isn't in the pypi version (2.4.0) yet? If so, any chance of pushing a new version?

[2016-01-20 19:03] aumayr opened #110 "Support Links in Directives"
![links](https://cloud.githubusercontent.com/assets/5135450/12458938/82084960-bfac-11e5-9300-b0981ff57398.png)

[2016-01-29 17:04] xentac commented on #108
The current version is slightly better, but it still hardcodes a port (I'm using it within a docker container and redirecting the port anyway).  It seems like the livereload library itself could just use an absolute path without specifying the hostname and things would be better.

But given what it does, I think I'd prefer a flag to just not enable livereload.  It's not very onerous for me to hit

[2016-01-29 17:07] aumayr commented on #108
@xentac The `--debug`-flag does start `beancount-web` without livereload enabled (but with debugging-output if something goes wrong).

[2016-01-29 17:07] xentac opened #113 "Yearly and Monthly account balances don't seem to make sense"
If I click on any account and look at the yearly or monthly balances, it shows me numbers that seem to represent the change in the account.  What I'd really like is the absolute balance of the account in yearly or monthly blocks (probably on the last day of the block).  Then I can look at a particular account and be happy or sad that its absolute value is trending upwards or downwards.

[2016-01-29 17:11] aumayr commented on #113
What the yearly and monthly balances do is calculate the balances for transactions in the corresponding year/month, and not represent a "running" balance and just display the intermediate balances at the end of the year/month.

[2016-01-29 17:12] aumayr commented on #113
@xentac But if you want to change the behaviour it should be fairly trivial. Enabling this behaviour via a config-setting could be a good way to keep both versions. PRs welcome :-)

[2016-01-29 17:42] xentac commented on #113
In the case where you're trading commodities it makes even less sense, it looks like I gained or lost USD when I'm really trading a commodity.

I'll see about writing some patches, but I'll have to wait till I get approval to release those patches from my company...

[2016-01-30 08:06] corani commented on #113
I kind of agree with @xentac, the term `balance` seems to imply a running balance, not a change. I'm wondering if it would make more sense to rename these tabs to something like `Yearly/Monthly changes`  and add `Yearly/Monthly balances` tabs that show a running balance.

Both views are useful to me, I'd rather not hide either behind a config-setting.

[2016-01-30 14:49] aumayr commented on #113
OK I see the point now, and like @corani's suggestion (adding both variants as separate "tabs"). I can provide the UI-adaptions (the tabs have to be visually updated if there are more than 2-3) if you want to implement this in the API, @xentac or @corani.

[2016-01-31 02:28] lepture commented on #108
@corani 2.4.1 was released.

[2016-02-02 03:42] corani commented on #108
@xentac let me know if the latest update fixes the issue for you.

[2016-02-02 05:34] xentac commented on #108
As I mentioned before, this one does give a better hostname, but it still doesn't work if I use a reverse proxy or a different internal docker port than the exposed external one.

It really seems like https://github.com/lepture/python-livereload/blob/master/livereload/server.py#L224 could just be converted to "/livereload.js" to get the same effect without any problems with hostnames or ports.  I

[2016-02-05 19:13] aumayr commented on #113
The mentioned UI-adaptions (the Journal filters now wrap correctly): a296ed8

[2016-02-06 19:48] davidastephens opened #116 "Feature Request: Uncollapse account tree one level at a time"
Is it possible to set up the uncollapse of the account tree to uncollapse one level at a time?  That way if I collapse the whole thing, I can drill into specific levels (sometime I want to see the aggregation).

Happy to work on a PR if you could point me to the file that would control this (html/css is not my speciality).

[2016-02-06 19:52] aumayr commented on #116
Sounds like a helpful feature!

I have to think about if this should be the default-behavior. What about accessing this feature not by clicking on the uncollapse-rectangle, but `ctrl`-clicking?

[2016-02-06 19:54] davidastephens commented on #116
That could work.  Personally I think it should be the default and ctrl clicking uncollapse all.

[2016-02-06 19:57] aumayr commented on #116
Maybe toggle the behavior in the settings?

Some pointers for a PR:

- This should be relatively easy to implement, just modify the JavaScript-function that does the expanding/collapsing: https://github.com/aumayr/beancount-web/blob/master/beancount_web/static/javascript/main.js#L47-L58
- For keyboard-related features: [Mousetrap.js](https://craig.is/killing/mice) is already included (a JavaScript

[2016-02-06 19:58] aumayr commented on #116
OK I think you are right - this should be the default behavior (but, again, a setting to toggle this behavior would be nice).

[2016-02-06 20:11] aumayr opened #117 "beancount API changes"
Martin on the Mailing-list:

I made some important changes to the following classes:

[code]

"Position" objects have been restructured to reflect the structure implied
by the syntax. Instead of a .number (Decimal) and .lot (Lot) objects, a
Position now has a .units (Amount) and .cost (Cost) objects.

The "Lot" class has been removed; it has been replaced by a "Cost" class
with .number (Decimal),

[2016-02-06 20:36] davidastephens commented on #116
ok, I got it working on my machine.  I think I would prefer if the default level was 2 and I could drill down further as needed.  What do you think about a setting that controls the default level of detail?

[2016-02-06 20:39] aumayr commented on #116
Can you send a PR so I can test it and see how it works?

[2016-02-06 20:46] davidastephens commented on #116
PR sent - #118

[2016-02-06 20:52] aumayr commented on #116
Looks good!

Are you going to add the "ctrl-click"-feature as well?

[2016-02-06 20:52] davidastephens commented on #116
I wonder if we should use ctrl-click or just have a button called expand-all?

[2016-02-06 20:56] aumayr commented on #116
Both:

- ctrl-click for expanding all sub-accounts for the current node
- In the table header, we could change "Accounts" to "Accounts (expand all)" (with "(expand all)" in a lighter color) and make that expand all nodes. The "(expand all)" could be hidden if everything is expanded (the default), and shown as soon as a node is collapsed.
- A tooltip on each node for hinting at the "ctrl-click"-thi

[2016-02-06 20:59] davidastephens commented on #116
ok, I'll take a crack at those.

[2016-02-06 22:21] davidastephens commented on #116
I added a "Accounts (collapse all)" that collapses everything then changes to "Accounts (expand all)".

Haven't figured out ctrl-click.  Does mousetrap have that functionality? It seems like it is only for keyboard commands (not combinations)?

[2016-02-09 06:50] xentac commented on #113
Pull request sent: https://github.com/aumayr/beancount-web/pull/119

[2016-02-09 14:32] aumayr commented on #85
OK time for some action, after unconsciously avoiding this issue for too long.

Thanks for your suggestions and opinions - they are worth a lot! So after reading through your comments `fava` came up most often, and I really like it as well. So, if no one comes up with a better name in the next 48 hours `fava` it will be :-)

As for the renaming: Any suggestions for the steps to be taken in order t

[2016-02-09 14:42] blais commented on #85
On Tue, Feb 9, 2016 at 9:32 AM, aumayr <notifications@github.com> wrote:

Awesome

Just do it

Reach out to elbaschid, looks like his PyPI entry is unused.
If you can't,
- either just don't put it in PyPI (who cares)
- or choose another name

[2016-02-09 14:45] aumayr commented on #85
I want to have it on PyPI in order for friends and family to be able to install (and update) it without much hassle.

[2016-02-09 14:45] yagebu commented on #85
I quite like `fava`, so :+1:

[2016-02-09 14:53] blais commented on #85
Okay

Here's the owner of the other project:
https://github.com/elbaschid/fava

Looks like there's a there, there, might be difficult to have it release,
this looks like the beginnings of a real project. Might have to choose some
other name.

On Tue, Feb 9, 2016 at 9:45 AM, aumayr <notifications@github.com> wrote:

[2016-02-09 16:17] aumayr commented on #85
There is no activity in the last 7+ months in this repo, so may not be vital after all… 

\cc @elbaschid

[2016-02-09 21:29] #117 closed

[2016-02-09 21:30] aumayr commented on #116
Merged PR #118 and added small changes in cc663a498421e11070b320ef7b1a288fa654515c

[2016-02-09 21:30] #116 closed

[2016-02-09 21:30] aumayr commented on #113
Merged - thanks all!

[2016-02-09 21:30] #113 closed

[2016-02-09 21:31] aumayr commented on #35
@redstreet Sorry for the lack of progress here. Are you still interested/watching?

[2016-02-09 22:14] redstreet commented on #35
No worries at all, I know for many of us including me, spare time is not evenly distributed. I was going to jump in and work on some of this when I had the time, but that won't be for a while. My utter lack of web experience doesn't help.

Anyway, yes, I'm still just as highly interested and eager to see this happen :). I'm happy to test and send feedback any time, or be of any other assistance.

[2016-02-11 16:46] aumayr commented on #85
OK, this is happening, I will start renaming the project to `fava`.

[2016-02-11 19:22] #85 closed

[2016-02-12 04:42] corani commented on #108
Ah, I see what you mean. The issue is that they're still hardcoding the port, while that should be gotten through JavaScript as well. Or, as you suggest, remove the host and port altogether. In that case they needn't even use the JavaScript workaround.

Could you file a bug against LiveReload?

[2016-02-13 10:19] aumayr opened #126 "Basic tests and Travis CI integration"
- [x] Write basic test cases
- [x] Add Travis CI integration

[2016-02-14 04:16] xentac commented on #108
Filed: https://github.com/lepture/python-livereload/issues/132

[2016-02-14 07:01] aumayr opened #127 "Installing is broken"
Things about the installation to fix:

- [ ] PyPI does not list `beancount-fava` in it's search results, so `pip3 install beancount-fava` does not work
- [x] `beancount` does miss `python-dateutil` and `ply` from it's requirements, so these two have to be installed manually
- [x] `gen/style.css` and the `gen/*.js`-files are missing from the release .zip-s, so even when installed from source it doe

[2016-02-14 07:02] aumayr commented on #127
@yagebu What is the best workfow for the last point (`gen/..`)?

[2016-02-14 10:06] yagebu commented on #127
From looking at PyPI's bug tracker, it seems that search is somewhat broken, or the search index doesn't get updated often. Let's just hope it get's fixed quickly...

@blais Is there anything blocking [beancount Issue 72](https://bitbucket.org/blais/beancount/issues/72/consider-installing-with-setuptools-again)? This would greatly simplify installation of `beancount` and `fava`. @aumayr as a worka

[2016-02-14 10:26] aumayr commented on #127
I fixed some of the things mentioned above:

- correct files are included/excluded
- description and keywords get added to PyPI
- version number is parsed from `fava/__init__.py` instead of hardcoding it twice
- `python-dateutil` and `ply` added to requirements to fix [beancount Issue 72](https://bitbucket.org/blais/beancount/issues/72/consider-installing-with-setuptools-again)

I testet it on the

[2016-02-14 11:20] aumayr commented on #127
What is still missing is the following:

- `beancount` does not install well, because the PyPI entry is too old (2014-09-07) and installing it via the URL to the bitbucket-repo does fail (and has to be invoked as `pip install beancount-fava --process-dependency-links' to enable the URL-fetching-feature at all).

- `beancount-fava` does not show up in the search results on PyPI.

The current versio

[2016-02-14 23:32] blais commented on #127
I applied the changes from issue #72, in a new branch called "setuptools_issue72".
My unit tests appear to work for both cases, where setuptools is present or absent.
I'm also able to install with pip3.
Can you please test this and see if this job the job for you?

I'll also mark a 2.0b4 version and refresh the PyPI entry.

If you need anything else let me know.

[2016-02-14 23:36] blais commented on #127
Actually, in order to bake a new release I think I probably need to merge to default. I'll do that, it appears to work.

[2016-02-15 00:19] blais commented on #127
New release available here: https://pypi.python.org/pypi/beancount/2.0b4

[2016-02-15 00:55] blais commented on #127
This still doesn't work. Setuptools is stupid: if I don't list the header files, they're not included, if I use "headers", it silently ignores the option, does not fail, but fails to include the files; if I list them in "sources", it refuses to build saying it doesn't recognize the file types, if I include them as extra_objects, it does include them in the output but it fails to build. Setuptools

[2016-02-15 01:22] xentac opened #129 "Balance summaries (balance sheet, trial balance) are based on lot price, not current price"
I would have expected that the prices at the end of the period would be used in the conversion instead of price when I purchased the commodity.  This way makes it much harder to figure out the state of my accounts.

Is there a reason to do it this way?

I can create an example file to show what I'm talking about if necessary.

[2016-02-15 01:25] blais commented on #127
I have a workaround baked as 2.0b6. This should work with pip3 and build it locally.

[2016-02-15 09:16] yagebu commented on #129
From an accounting standpoint, the current behaviour is the correct thing to do. The balance sheet should display the "book value" of your assets (and liabilities), that is the original cost of the asset (minus depreciation possibly). Wikipedia has [more](https://en.wikipedia.org/wiki/Book_value) on the meaning of book value and maybe the [Beancount trading doc](https://docs.google.com/document/d/

[2016-02-15 09:48] yagebu commented on #127
Works for me :+1:

[2016-02-17 08:33] aumayr opened #131 "Show query directives (titles) as submenus to "Query" view in sidebar"

[2016-02-17 09:45] aumayr opened #132 "Change Journal rendering from <table> to <ol>"
@yagebu:

[2016-02-17 14:25] corani commented on #131
I can take a shot at this. Do you have something like this in mind:

- Custom Queries
  - Query 1
  - Query 2
  - Query 3

(Maybe limit the number of queries to default 5, with a configuration option for a different number?)

[2016-02-17 14:47] yagebu commented on #132
Technically [`table-layout:fixed`](https://www.w3.org/TR/CSS2/tables.html#propdef-table-layout) should have the same performance implications, but using a list seems semantically more correct. Additionally, it will allow to express the postings as sublists of the transaction entry, which lets us scrap some of the `hidden-*` CSS classes and will simplify the toggling code.

[2016-02-17 15:16] aumayr commented on #131
@corani Yes, exactly that! 5 as a limit sounds reasonable, with the date as the basis for sorting.

[2016-02-17 19:47] aumayr opened #134 "Chart-switcher-labels are not fully clickable"
There seems to be an overlap with the charts, so one can not click on the labels in some instances.

[2016-02-18 07:55] #134 closed

[2016-02-18 07:55] #127 closed

[2016-02-18 09:20] #131 closed

[2016-02-18 09:22] aumayr commented on #129
Can I close this, @xentac?

@yagebu Any ambitions to follow up on that with a PR? If yes: Please create a new ticket for it. If no, just discard this comment :-)

[2016-02-18 09:33] aumayr opened #136 "Make settings file editable in Source view"
Just add it as another entry to the dropdown of files, and change the ACE mode (language for syntax highlighting) if it is selected

[2016-02-18 09:33] corani opened #137 "Transaction Links aren't shown"
_"Transactions can also be linked together. You may think of the link as a special kind of tag that can be used to group together a set of financially related transactions over time. "_

[code]

They should probably work the same way as `tags` currently do

[2016-02-18 09:35] aumayr commented on #137
Duplicate of #110

[2016-02-18 09:35] #137 closed

[2016-02-18 09:35] aumayr commented on #110
@corani in #137:

"Transactions can also be linked together. You may think of the link as a special kind of tag that can be used to group together a set of financially related transactions over time. "

2014-02-05 * "Invoice for January" ^invoice-pepe-studios-jan14
  Income:Clients:PepeStudios           -8450.00 USD
  Assets:AccountsReceivable

2014-02-20 * "Check deposit - payment from Pepe" ^inv

[2016-02-18 09:36] corani commented on #137
Ah, sorry, missed that one :-)

[2016-02-18 09:37] aumayr commented on #110
I would even merge those two into the same filter dropdown. Tags are prefixed with "#", Links with "^".

[2016-02-18 09:39] aumayr commented on #108
@xentac Can I close this issue?

[2016-02-18 09:39] corani opened #138 "Custom Queries are affected by filters"
When I e.g. filter by tag, the custom queries in the sidebar and in the `Custom Query` screen disappear. While this makes sense, it's probably unexpected for most people and situations.

[2016-02-18 09:41] corani commented on #136
Note: this should only apply when the user specifies a settings file, the default settings shouldn't be editable (they're likely read-only anyway)

[2016-02-18 09:44] aumayr commented on #138
Totally agree that the custom queries submenu should be shown, fixed in 9f9acb2

[2016-02-18 09:44] #138 closed

[2016-02-18 09:46] corani commented on #110
Agreed, though perhaps two sections in the same dropdown?

I never really understood the point of having both tags and links, as far as I can see, they're the same thing. @blais am I missing something?

[2016-02-18 09:47] corani commented on #138
Nice, easier to fix than I expected :+1:

[2016-02-18 09:58] yagebu commented on #129
Will do. Although I haven't really thought about how to best do this, so if anyone else is keen or has some ideas, feel free to work on it.

[2016-02-18 12:35] corani opened #139 "Commodities only forward pairs are shown"
I only have currencies as commodities, and found that the inverse rates weren't shown under commodities due to:

https://github.com/aumayr/fava/blob/master/fava/api/__init__.py#L478

While this would make sense for stocks, for currencies you usually want to see the inverse as well.

[2016-02-18 12:37] corani commented on #139
As a solution, I have a meta-tag `asset-class: "Cash"` on all my currency commodities, maybe this could be used to determine for which commodities the inverse should be shown?

[2016-02-18 14:37] blais commented on #110
Interesting question.
They are functionally equivalent indeed.

However, since the very beginning - they are somewhat vestigial - I've been
using them very differently. I use tags to create groups for events or
trips or something else, in the way most ledger users use them. Large
groups of transaction which are related to some sort of external context. I
use links to join together small groups of

[2016-02-18 16:46] xentac commented on #108
Yeah, we can close it.

[2016-02-18 16:46] #108 closed

[2016-02-18 16:47] xentac commented on #129
Looking at the trading doc, it pointed me at the unrealized_gains plugin.  This is good enough for my purposes right now.  I'm imagining a modification to the plugin to be able to compute unrealized gains every month (or maybe even every price db entry).

[2016-02-18 21:04] xentac opened #141 "Net worth disagrees with bean-report"
When I run bean-report networth I get different numbers in my two currencies than from fava.  The bean-report numbers are higher and closer to what I was seeing about a month ago with fava.  My guess is something changed.

[2016-02-18 21:55] aumayr commented on #141
This is not good. Can you provide a sample file where this is happening?

(Ref #126)

[2016-02-18 22:35] xentac commented on #141
I don't know that I can do this in the next week or so... I'm about to go on vacation.  Otherwise I would have given more information and done some debugging ;)

[2016-02-19 01:43] happyalu opened #143 ""Red Circle" for valid balance checks"
I'm seeing red circle for all balance checks in the "statistics" page. If I click the account and look at the entries, the balance transaction appears in green.

It was working very well with an early version of beancount-web, I just updated to the latest pip installation yesterday :)

[2016-02-19 01:46] happyalu commented on #141
I just saw this too. I couldn't quickly come up with a minimal example of this bug. But it might be related to cost/prices.

I have two currencies (INR and USD), and fava matches with beancount's report exactly on INR. On USD, it's way off. It's reporting less than half of what beancount reports.

[2016-02-19 08:16] yagebu commented on #141
The calculation of the net worth is the last place where we do basic arithmetic by hand, which we shouldn't do and which might lead to this bug. I'll rewrite the code to use `beancount`'s functions, that should hopefully fix it.

[2016-02-19 09:24] yagebu commented on #141
Can you try my branch [net-worth](https://github.com/yagebu/fava/tree/net-worth) to see if that changes anything?

[2016-02-19 09:31] aumayr opened #145 "Generate reports in other formats (PDF, Excel and ODF Spreadsheet)"
Generate common reports in Excel and PDF formats.

Gary Peck on the Beancount Mailing List ("Aw: Equity:Earnings:Current/Previous and "Closing the year""):

I have attached his sample files here: [Archive.zip](https://github.com/aumayr/fava/files/137677/Archive.zip)

[2016-02-19 09:32] aumayr commented on #129
@xentac Please have a look at the new views in the Holdings report

[2016-02-19 09:42] aumayr commented on #110
Thanks @blais for clarifying!

My two cents:

- As links and tags are the same, removing links altogether does not seem to take anything away, so I would not be sad to see them go.
- As for moving tags into metadata (as you have mentioned on the mailing list), I think this would be a bad idea on the grounds of "UI"-reasons. Tags are very distinguishable in the syntax right now, and that is a good

[2016-02-19 09:43] aumayr commented on #110
@corani I will close this and reopen if @blais decides to keep links around.

[2016-02-19 09:43] #110 closed

[2016-02-19 10:39] aumayr commented on #136
@corani Thanks for the hint - implemented it like this in 7cc8688

[2016-02-19 10:39] #136 closed

[2016-02-19 12:03] #36 closed

[2016-02-19 12:23] aumayr commented on #145
Working on this on branch [`reports`](https://github.com/aumayr/fava/tree/reports)

[2016-02-19 12:32] yagebu commented on #145
I don't think we should generate anything in (Excel,) CSV or other tabular data structures. This is something, if needed, should be built right into `beancount` IMHO. For PDFs, we should just ship a CSS stylesheet for printing that just shows the report.

[2016-02-19 12:42] aumayr commented on #145
My goal with `fava` is to present the data Beancount generates in ways that fit my needs.

HTML was the first and most important one (as I wanted more than `bean-web` could deliver). PDF, XLSX and ODS (ODF Spreadsheet) are the other three formats that beancount does not deliver (and IMHO should not).

So there are three options:

1. Build a separate tool to do this (a new project).
2. Build it int

[2016-02-19 13:19] yagebu commented on #145
`bean-report` offers the `-f` to specify a lot of formats including `xls`, although it doesn't implement it for any of the reports. So Martin did intend to have this as part of beancount's functionality at some point. beancount also includes a script to upload `csv` to Google Docs, so I don't think this is out of beancount's reach.

Unless I'm missing something here, for our purpose XLS and ODF ar

[2016-02-19 13:29] corani commented on #145
I agree, the print function in most modern browsers creates great PDFs, as
long as we have a media-print stylesheet that's decent. At most I'd add a
"print" button to some relevant pages.

On Fri, Feb 19, 2016, 20:32 Jakob Schnitzer <notifications@github.com>
wrote:

[2016-02-19 13:30] aumayr commented on #145
True, I did not remember this flag.

There lies the problem: Doing this would increase the dependencies `beancount` has on other libraries, and this is where I think @blais is rather precautions (for the lack of a better word). Extending `bean-web` was my first idea, but then I would have had to introduce new dependencies like Flask or other web-related frameworks, and jQuery, etc.

But yes, ultim

[2016-02-19 13:33] aumayr commented on #145
long as we have a media-print stylesheet that's decent.

I would not rely on the browser-print-functions, but use a library like [Flask-WeasyPrint](https://pythonhosted.org/Flask-WeasyPrint/) to generate the PDF from HTML (same thing like you suggested, but done on the server, not the client), as there are differences in how browsers treat stylesheets for printing.

That's what I had in mind as we

[2016-02-19 21:35] #141 closed

[2016-02-20 17:11] aumayr commented on #143
@happyalu Can you provide a test beancount file where this happens? Maybe with just the last few transactions and the balance check (anonymized) for the account where this happens.

[2016-02-20 17:59] aumayr commented on #143
Ref #35

[2016-02-20 18:00] #126 closed

[2016-02-20 22:29] blais commented on #145
On Fri, Feb 19, 2016 at 7:42 AM, aumayr <notifications@github.com> wrote:

bean-report was designed to include extensible reports that would render in
a variety of formats.

yuzu [hg|default]:~/p/repos/beancount1$ bean-report --list-formats
Name             text  html  htmldiv  csv  beancount  hledger  ledger  ofx
---------------  ----  ----  -------  ---  ---------  -------  ------  ---
balances

[2016-02-20 22:36] aumayr commented on #145
Perfect, I will look how to integrate the ones I had in mind (PDF, XLS) into `beancount` and then get those reports for a download-button in `fava`.

https://bitbucket.org/blais/beancount/src/54157625f090c97e70356ecf71607cf3784eadf3/src/python/beancount/reports/balance_reports.> py?at=default&fileviewer=file-view-default#balance_reports.py-140)

Would definitely make sense and would be much apprec

[2016-02-20 22:45] blais commented on #145
https://bitbucket.org/blais/beancount/issues/100/provide-an-external-registration-mechanism

On Sat, Feb 20, 2016 at 5:36 PM, aumayr <notifications@github.com> wrote:

[2016-02-20 23:12] #59 closed

[2016-02-20 23:15] #129 closed

[2016-02-21 00:36] alexjj opened #147 "wsgi:355 500 error for /journal/ and /account/*"
However the error is slightly different:

For /journal/:
It loads the page but just says: `Loading journal entries…`, but the terminal shows `E wsgi:355 500 GET /journal/`.

For any /account/ page it shows

[code]

and same terminal error. Once or twice it has loaded the assets page but mostly it doesn't.

Installed from pip3.

[2016-02-21 02:30] corani commented on #147
Could you start the program with `--debug` and post the full stacktrace
here?

On Sun, Feb 21, 2016, 08:36 Alex Johnstone <notifications@github.com> wrote:

[2016-02-21 05:34] alexjj commented on #147
Both errors caused by `TypeError: Decimal('1.5080') is not JSON serializable`

[code]

[2016-02-21 11:22] aumayr commented on #147
Thanks @alexjj for the bug report!

Can you try to update fava to the newest version? (Did you install via `pip` or from source?)

Judging from this line it seems that your version is outdated:

Compared to the current version:

https://github.com/aumayr/fava/blob/master/fava/application.py#L117-L119

[2016-02-21 17:49] alexjj commented on #147
I've installed from pip3 and it says it's the latest version, beancount-fava-0.2.3. I tried upgrading/uninstalling, reinstalling and still the same version/error.

I can build from source later if that's all that's needed to fix it. Thanks.

[2016-02-21 19:10] aumayr commented on #147
Please let me know if installing from source did fix the problem!

[2016-02-21 19:10] #147 closed

[2016-02-21 21:17] alexjj commented on #147
Built from source but now...

[code]

[2016-02-22 00:04] xentac commented on #141
Can confirm this is fixed.

[2016-02-22 03:25] happyalu commented on #143
option "operating_currency" "INR"

2014-12-01 open Assets:Cash
2014-12-02 open Assets:Savings

2014-12-24 * "" | "Cash Deposit"
  Assets:Cash                                                    -1000.00 INR
  Assets:Savings

2015-02-02 * "" | "Cash Deposit"
  Assets:Cash                                                    -1000.00 INR
  Assets:Savings

2015-02-03 balance Assets:Savings

[2016-02-22 08:23] yagebu commented on #147
Good catch! Can reproduce and fixed it in my PR.

[2016-02-22 08:32] yagebu commented on #143
Did you have any filters active when you took the screenshot? It seems that currently only the filtered entries are considered for the up-to-date indicator (which is a bug imho).

[2016-02-22 08:37] aumayr commented on #143
The "specification" for the up-to-date-indicators is still very basic, and a discussion of the shortcomings and suggestions how to fix them is in #35

It definitely is. This feature still needs some work… 

[2016-02-22 08:41] aumayr commented on #132
@yagebu This is hard.

I started working on it in a branch locally (and can push the branch if you are interested), but there seems no way around a `flexbox`-based approach to make the "table" look good (full width, but a growing description-column, etc.). Do you have expierience with `flexbox` or a good idea how to solve this elegantly in SCSS?

[2016-02-22 08:42] aumayr commented on #35
For future work: This definitely is a part of the API that should be covered by test-cases, for testing-purposes as well as documenting how it should work.

[2016-02-22 08:45] aumayr opened #149 "Help-System"
Build a help-system into fava, which can be accessed via the sidebar menu. Should contain pages and links with basic info and screenshots how fava works. Important content parts:

- [X] How the `fava`-command works
- [x] Beancount Syntax Primer and links to the beancount-documentation (iframes? ;-) )
- [x] How filters work
- [ ] Basic description of all the views

[2016-02-22 08:46] aumayr opened #150 "Fava website"
Create a basic website (gh-pages) with screenshots and so forth.

Could mirror/include the content of the Help pages (#149)

[2016-02-22 08:47] aumayr commented on #90
Splitted this into #149 and #150

[2016-02-22 08:47] #90 closed

[2016-02-22 08:51] aumayr opened #151 "Interactive "console" to run bean-* commands"
It may be feasable to run bean-* commands inside fava/the browser - anyone interested in this?

[2016-02-22 09:01] happyalu commented on #143
I seem to get a red circle with no filters as well as say, the YTD or "This Month" filter.

[2016-02-22 11:48] #143 closed

[2016-02-22 11:50] aumayr commented on #143
@happyalu This should be fixed in `master`, but is obeying filters still. Until this is changed to ignore active filters (and implement #35) it may still be a few days out, but as far as this bug is concerned it should be fixed.

Can you confirm that it is working now?

[2016-02-22 11:55] happyalu commented on #143
Works. Thanks!

[2016-02-22 19:45] aumayr commented on #35
4c56269:

- [ ] give uptodate info its own page
- [x] show two dots: a) red/yellow/green b) gray
- [ ] pick up uptodate-indicator from account metadata
- [ ] ignore entries added by plugins (dependent on beancount changes)
- [x] sort-by-color order: red->yellow->green->no_circle
- [ ] ignore "close" directives when calculating green/red/yellow
- [x] do not show gray if account is closed
- [x] cons

[2016-02-22 20:15] aumayr commented on #35
bd1a3bf:

- [x] pick up uptodate-indicator from account metadata
- [ ] ignore entries added by plugins (dependent on beancount changes)
- [ ] ignore "close" directives when calculating green/red/yellow
- [ ] give uptodate info its own page
- [ ] comprehensive balance checks (for later: depends on potential changes within beancount)

[2016-02-22 20:23] aumayr commented on #35
- [x] show two dots: a) red/yellow/green b) gray
- [x] sort-by-color order: red->yellow->green->no_circle
- [x] do not show gray if account is closed
- [x] consider showing red for accounts with any failed balance check => **wontfix**
- [x] pick up uptodate-indicator from account metadata
- [x] ignore "close" directives when calculating green/red/yellow
- [ ] ignore entries added by plugins (depen

[2016-02-22 20:26] aumayr commented on #35
@redstreet I implemented many of your suggestions - please let me know if they work for you.

For the remaining items:
- Ignoring plugin entries and comprehensive balance checks depend on changes within beancount. I subscribed to the corresponding issues for beancount, and if they will be implemented, I implement them here.
- "show this up-to-date page in its own, so it can have more helpful featu

[2016-02-23 08:03] corani opened #156 "No autoreload for documents"
With the `beancount` option:

[code]

you can add a (root) folder for documents. When you place documents there, they'll be automatically included in your journal.

Currently, this folder isn't monitored, so you need to manually restart the application (or force a reload by saving a source file) before documents show up.

[2016-02-23 08:38] aumayr commented on #156
@corani Fixed in #467b5be. Please try if this is working for you.

[2016-02-23 08:45] aumayr commented on #147
The error initially reported was also addressed in 10cf818

[2016-02-23 09:19] corani commented on #156
Unfortunately, no. The documents folders need to be added recursively, and any folders created while running, need to be added as well.

[2016-02-23 09:44] aumayr commented on #156
I just tested (Mac OS 10.11.3) and it does work recursively for me. On which system are you?

[2016-02-23 09:56] corani commented on #156
Ubuntu 14.04

I'll try to do some more testing later today.

On Tue, Feb 23, 2016 at 5:44 PM, aumayr <notifications@github.com> wrote:

--
Best regards,
Daniël Bos

Your government is reading your email. Slow them down with encryption.

My public key: http://goo.gl/gms497 (4096 bit RSA, id EF2D5D91)
Fingerprint  : D8D0 9FBE F075 F709 7B52  2F73 326C 2123 EF2D 5D91

[2016-02-23 09:58] aumayr commented on #156
OK, please let me know what you found out. I'll leave the issue open for now.

[2016-02-23 11:03] corani opened #157 "Upload documents"
I'd like the ability to upload documents by dropping them on an `account` page. For example, when I drop a document on the `Liabilities:Bank:Credit-Card` account page, it should store the document in the `document` folder, under `Liabilities/Bank/Credit-Card/<date>.document-name.ext` Probably it should ask to enter a date, if the document doesn't start with one, so you don't need to rename the doc

[2016-02-23 12:44] aumayr commented on #157
@corani I implemented a first version of this. Works on account names in tree-tables and the header of the Account view. If a file is dragged over such an area, the background of that area changes to light blue to indicate that a file can be dropped here.

Things missing:
- Check if the document option is set, valid, and writeable
- Check if filename already contains date, and if not show a popup,

[2016-02-23 13:39] corani commented on #157
Dropping on tables works great, but the header is a bit narrow. Is there any way to make the drop-target a bit bigger? (e.g. add some padding to the top and bottom of the header)

Some more things:
- It doesn't warn before overwriting a file
- Chinese characters (probably all non-latin characters) are stripped

[2016-02-23 13:40] #149 closed

[2016-02-23 13:46] corani commented on #156
It looks like it indeed works recursively. I see the `Reload 1 waiters` log message and the page reloads. However, the new document doesn't show up until I manually restart the application.

Additionally, I noticed two things while saving the config file:
- When I remove the `theme = alternative` option, it doesn't revert back to `default`. If I put in an explicit `theme = default`, it works file,

[2016-02-23 13:50] aumayr commented on #157
Will do.

Will implement that in step with the filename-date-check

I think this is because of https://github.com/aumayr/fava/blob/master/fava/application.py#L115

[2016-02-23 14:00] corani commented on #157
One more, it should create the correct parent folders if they don't yet exist.

[2016-02-23 14:01] corani commented on #157
Looks like a likely culprit. This is low-prio for me, btw. I can live with latin-only

[2016-02-23 14:04] corani commented on #157
Hmm, for some reason "data-account-name" has suddenly become empty in the tables, causing the documents to be uploaded to the root...

[2016-02-23 14:06] corani commented on #157
Reading the beancount manual, I noticed _"You may specify this option multiple times if you have many such document archives."_ Another gotcha. If we need a dialog anyway to ask for the date to put in the filename, maybe also let the user pick the document-root, if there are multiple.

[2016-02-23 14:11] corani commented on #149
When building the latest update, I get the following during installation:

[code]

Any ideas?

[2016-02-23 14:13] aumayr commented on #149
I think you need to run `setup.py` again (`python setup.py develop` or `pip install --editable .`), because there are new requirements (`pygments` for example).

[2016-02-23 14:14] corani commented on #149
I always run `setup.py install`, is that not enough?

[2016-02-23 14:20] corani commented on #149
`pip install` got rid of the `pygments` related error, now when I start I'm greeted with:

[code]

[2016-02-23 14:22] aumayr commented on #149
Ahh, I see the error - will fix it. Hold tight.

[2016-02-23 14:44] aumayr commented on #149
Fixed in 760ae46357174b940dffd474b4de75a440b9b418 => does it work now for you?

[2016-02-23 23:31] redstreet opened #159 "fava on cygwin"
This is an installation question. I've been running the erstwhile beancount-web on cygwin fine. The  last version I ran was c95dc (2016-01-09). Unfortunately, I'm unable to install the latest version on Cygwin.

If I install it by running "pip3 install beancount-fava", it fails when trying to compile libxml:
    error: Cygwin gcc cannot be used with --compiler=mingw32

That's a common error, and e

[2016-02-23 23:34] redstreet commented on #35
Cool. I'm unable to install right now (see #159), but will check it out as soon as I'm up and running. Meanwhile, do all versions make it into pythonanywhere, or do only the tagged versions make it there? pythonanywhere shows 0.2.3 (2016-02-23), but I see only one dot per account, so I assume it's the tagged 0.2.3 version that's there?

[2016-02-24 01:47] redstreet commented on #159
Update: tried to install from the repo onto a Linux system, and though the installation went smoothly, I still get a page without the css. The css part is my uneducated guess. Here is a screenshot:

![image](https://cloud.githubusercontent.com/assets/691755/13273033/7055a758-da55-11e5-9ccf-2fdb00b2bd1e.png)

[2016-02-24 01:58] blais commented on #159
If the problem is downstream with the Beancount install, please let me know.
You can try installing Beancount using pip3 now, with

  pip3 install beancount

[2016-02-24 02:05] redstreet commented on #159
@blais thanks, but I think Beancount looks fine. I installed the latest via pip3 after seeing the latest CHANGES, and everything seems to work fine with it so far.

[2016-02-24 03:02] corani commented on #149
Yep, thanks!

[2016-02-24 07:52] aumayr commented on #159
I have not tried it yet, but will in a VM.

Python 3.4 should be fine (the Travis CI tests run for 3.4 and 3.5, and both work)

Installing from the repo (for development) changed recently, as we introduced `webpack.js` to handle all JavaScript dependencies and compile the SCSS. Therefore, CSS is not included in the repo (but in the PyPI-version, which is the latest "stable" one):

Here is the new

[2016-02-24 07:58] aumayr commented on #35
TL;DR: pythonanywere.com does not support installing `fava` from source, so only the current tagged version (via PyPI) get's installed there.

pythonanywhere.com does not support the current way to compile CSS via `webpack.js`, so right now it is not possible to install the HEAD version on pythonanywhere.com (`npm install node-sass` does not work on there, and I checked with the pythonanywere.com-

[2016-02-24 07:58] aumayr commented on #149
@corani 👍

[2016-02-24 08:04] redstreet commented on #159
Ah ok, thanks for the explanation. I did read that part in the readme, but assumed it was only if I wanted to mention changes to the source code.

It might take me a little while to get my environment setup, and I'll get back as soon as I get that done. Thanks again!

[2016-02-24 08:04] #159 closed

[2016-02-24 08:06] redstreet commented on #159
Closing, unless you want to reopen to check a cygwin install. I'll report back about cygwin either way.

[2016-02-24 08:25] aumayr commented on #159
I'll wait for you to report back until I start to install Windows in a VM ;-)

[2016-02-25 08:46] aumayr commented on #149
https://github.com/aumayr/beancount-sql-queries/issues/7

[2016-02-25 08:50] aumayr opened #160 "API: is_leaf needs to be refactored"
returns either `True` or `[]`

https://github.com/aumayr/fava/blob/83e30e2bed5f414ce67f364c42d783fc5f09f711/fava/api/__init__.py#L162

[2016-02-25 08:51] aumayr opened #161 "Editor: Enable print margin"
Setting via config? Integration with bean-format?

![screenshot](https://cloud.githubusercontent.com/assets/5135450/13314416/541eb8e4-dba5-11e5-8744-902e100e41f0.png)

[2016-02-25 09:27] yagebu commented on #132
It might be possible to use an approach with negative margins and such to get exactly one column to grow and the others to be of fixed width. But 2016 seems like the year to start using `display: flex`. Maybe doesn't give us any performance boost, but it would still simplify the page.

I'll have a go at it in the next few days.

[2016-02-25 09:31] aumayr commented on #132
Thanks! Should I push the changes I already have into a separate branch?

[2016-02-25 09:35] yagebu commented on #132
Yes, will be good to have something to start with.

[2016-02-25 10:11] aumayr commented on #132
OK I just looked over the changes I already made in a local branch, and they are in an embarrassing state and would be of no real value to you :-/

[2016-02-25 10:27] #160 closed

[2016-02-25 10:47] #161 closed

[2016-02-25 10:50] aumayr commented on #156
Fixed in 61c72f0

[2016-02-25 11:05] aumayr commented on #156
Fixed in 840a308

[2016-02-25 11:05] aumayr commented on #156
This is still open. I have to set up a test VM and everything, so this could take a while...

[2016-02-25 11:36] corani commented on #156
61c72f0 and 840a308 confirmed fixed.

[2016-02-25 11:41] corani commented on #161
Nice! This is pretty handy to align the amounts :smile:

[2016-02-25 11:46] corani opened #163 "Editor: Strip trailing white-space on save"
Apparently [this functionality](https://github.com/ajaxorg/ace/blob/v1.2.0/lib/ace/ext/whitespace.js) exists in Ace, it would be helpful to keep source-files clean.

Since I keep them in Git, I like to avoid unnecessary changes due to white-space.

[2016-02-25 12:42] aumayr commented on #161
That was the plan :-)

[2016-02-25 20:15] aumayr opened #165 "Display budgets"
Beancount itself is a double-book accounting tool, and does not know of the concept of "budgets".

But the more I use fava I wish there would be a way to display information if a certain account is over budget. I do practice setting budgets for various "accounts" myself to enforce certain spending behavior, and it would be nice to integrate this into the system.

In the "[budgeting](https://github

[2016-02-25 20:29] aumayr commented on #132
Small rendering error in the Cost column:

![screenshot](https://cloud.githubusercontent.com/assets/5135450/13333290/9f07d906-dc06-11e5-83c5-6d75c137b378.png)

Fixed in d463cc8

[2016-02-25 20:29] aumayr commented on #132
I think this is fixed for now. Thanks again, @yagebu!

[2016-02-25 20:29] #132 closed

[2016-02-26 01:32] redstreet commented on #165
I like the idea of reporting budgets. It's low on my personal list because in my experience, budgets are difficult to maintain in accounting software, and become intuitive and therefore unnecessary once one "practices" personal accounting for a few years. Either way, it can be quite useful until then at least. However, it is a vast topic with much that can be considered.

**Representation**: a gen

[2016-02-26 02:16] redstreet commented on #159
Cygwin doesn't have the npm or node.js packages. npm's "Installing under cygwin" section has one word: "No.". That seems to say it all :). I'm not going to pursue this further on cygwin, and will find a linux box to try it on.

[2016-02-26 02:58] blais commented on #165
Lots to say about budgeting but I don't have that much to add than what I
already said on the group. Search the group for previous discussions. IMHO
budget is best implemented as a set of constraints (assertions).

I think it's awesome you built a prototype! :-)

(more below)

On Thu, Feb 25, 2016 at 3:15 PM, aumayr <notifications@github.com> wrote:

This is an unoccupied spot in the space of impl

[2016-02-26 04:58] redstreet commented on #165
@blais - quick OT comment: not sure what you're doing, but the first line of your response paragraphs have the quote character in them, making slightly difficult to read. Seems like your other posts on github also have the same issue. Are you seeing this as well?

[2016-02-26 05:03] redstreet commented on #35
I built the latest version on a Linux box. However, I'm unable to see the indicators at all:

![image](https://cloud.githubusercontent.com/assets/691755/13343591/ecba336e-dc02-11e5-9cd5-5a16c0a722d1.png)

````make build-js```` seemed to complete successfully, but these are the warnings I got. Is one of these the issue?

[code]

[2016-02-26 05:14] alexjj opened #166 "Query-error: Type <class 'cdecimal.Decimal'> not recognized"
Firstly, this project is awesome! :cake: Did a git pull and rebuilt and there are new features!

Now that you've added exporting queries to csv/xls etc. I realised it would be more useful to separate number and currency into two columns. The number column is filled red and the type error appears. It doesn't really impact the functionality of the query, although when exporting to xls/ods it's not f

[2016-02-26 05:28] corani commented on #165
I think other users is beancount would be interested in budgeting as well.
I think it would be better to add this as an (optional/external) plugin to
beancount itself, rather than make it part of fava.

Fava could add this plugin as a dependency and provide a nice UI, but it
should be usable without fava as well.

On Fri, Feb 26, 2016, 12:58 Red S <notifications@github.com> wrote:

[2016-02-26 05:45] alexjj opened #167 "Name the exported file (csv/xlsx etc.) the same as the query name"
Testing out the export function, which is great and I can't wait until PIVOT BY is working in bean-query, and I thought it would be good if the file name was automatically the query name - assuming it's from a stored query.

[2016-02-26 07:09] aumayr commented on #159
Oh, I didn't know that as well… Sorry for the inconvenience!

[2016-02-26 07:21] aumayr commented on #167
@alexjj Implemented in edac199. The query name is run through `secure_filename`, so no spaces and special chars.

Does this work for you?

[2016-02-26 07:29] aumayr opened #168 "Make serializing generic query results better"
Exporting to CSV/XLS/XLSX means converting the results into a 2-dimensional array. It would be nice to convert columns of type `Cost` (details of which type a column is are already included in the result from the API) into two columns for number and currency.

Origin: #166 by @alexjj

[2016-02-26 07:34] aumayr commented on #166
There are some points in this:

Where does this error occur? In the resulting CSV/XLS? In the HTML? Can you attach a screenshot, so we can pinpoint where this comes from?

Factored that out into it's own issue: #168

Is it displayed as `12.34` instead of `12,34`? In which application are you opening the downloaded file? Excel?

If Excel: The decimal separator is different for different languages -

[2016-02-26 07:35] aumayr commented on #35
No, these warnings should not be of any consequence.

[2016-02-26 07:38] aumayr commented on #35
The behavior changed. From CHANGES.md:

So you have to put  `fava-uptodate-indication: "True"` as metadata to every account (on `open` you want to show the indicator for.

This is still not covered in the new Help pages, unfortunately. Would be a perfect opportunity for a quick PR ;-)

[2016-02-26 08:06] aumayr commented on #165
I also had the feeling that this should be a feature of beancount rather than just fava.

Where I am pretty sure now is how it should **work**:

Set the budget for a specific period (day, week, month, quarter, year), and be able to change it with a new entry with a date after the previous entry, as in my example above.

I can't come up with a situation that this does not cover, from in-period budg

[2016-02-26 08:22] aumayr commented on #165
Here are some relevant discussions and ideas:

- [Beancount Mailing list: "Beancount budget plugin"](https://groups.google.com/forum/#!searchin/beancount/budget/beancount/jlO1ophiGM4/X6IuDyUOAgAJ)
  Has some good ideas, like the following syntax:

[code]

  and

[code]

- For ledger: [Program Your Finances: Envelope Budgeting](https://www.petekeen.net/program-your-finances-envelope-budgeting)
  Us

[2016-02-26 12:52] #167 closed

[2016-02-26 16:38] alexjj commented on #168
I hope my original issue didn't confuse the two issues, and I'll reply to #166 shortly. The Query-error type not recognized is solely in fava web view. It may or may not impact how the spreadsheet columns are generated. I've used xlsx writer (I know you're not though) a _tiny_ amount in the past and remember specifying the [format](https://xlsxwriter.readthedocs.org/format.html#set_num_format) for

[2016-02-26 16:55] alexjj commented on #166
In the HTML. I'm at work now so can't run fava, it was in the td class of the cell. I think the td class was either `<td class="cdecimal.Decimal">` or `<td class="Type-error" cdecimal.Decimal="1234.12">` I'll see if I can find a way to run it, otherwise I'll reply later (in about 10 hours) with a screenshot.

Interestingly when I run the same query in the pythonanywhere demo site it works perfectl

[2016-02-26 18:56] aumayr commented on #157
Both fixed in 60e7c4db1ec65fe83906deb55edb273357fc7cef

[2016-02-26 19:33] blais commented on #165
I don't see this.

On Thu, Feb 25, 2016 at 11:58 PM, Red S <notifications@github.com> wrote:

[2016-02-26 20:16] redstreet commented on #165
Okay, I'll email you a screenshot so I don't continue OT here.

[2016-02-26 20:20] aumayr commented on #157
Remaining TODOs (will update here):

- [ ] Check if file is overriding an existing file
- [ ] Make drop target in Account view bigger
- [X] Support multiple root folders
- [X] Check if directory is existing and if not: create it
- [X] Check if filename starts with `YYYY-MM-DD.`
- [X] Upload multiple documents

[2016-02-27 05:16] cgrinds commented on #165
I agree budgets would be an awesome feature

[2016-02-27 05:18] corani opened #172 "More graceful error message when port is in use"
Currently, when you start fava while the port is already in use, you get the following exception:

[code]

This should be replaced with a more graceful error message.

[2016-02-27 16:37] aumayr commented on #172
Now looks like this:

[code]

[2016-02-27 16:37] #172 closed

[2016-02-27 16:41] aumayr commented on #168
Thanks @alexjj for clarifying, I understand the problem now and will have a look at the formatters in pyexcel.

Could you attach the ODS and XLS-files to this issue (if they do not contain any personal info)? This way I could test it on exactly those files.

(Sidenote: This feature will probably end up in beancount, because these reports should be generated there. But if we fix issues like this no

[2016-02-27 17:06] aumayr commented on #157
@corani I implemented the missing parts. Can you test again?

[2016-02-27 17:08] aumayr commented on #156
👍

[2016-02-27 17:34] aumayr commented on #166
Can you confirm if this is still happening with the current version? If yes: Can you send an excerpt of the page source (HTML)? I can not reproduce this :-/

[2016-02-27 19:29] alexjj commented on #166
Here's a screenshot:

![screenshot_2016-02-27_11-26-42](https://cloud.githubusercontent.com/assets/440939/13374862/2f3b9a28-dd45-11e5-8c93-f6be02b8f6c6.png)

The red cells have this html:
[code]

[2016-02-27 19:33] alexjj commented on #166
Okay it did matter.

Without m3-cdecimal it works fine, but with it I get the error. I installed m3-cdecimal because of the beancount warning and I think Martin suggested to in some thread on the mailing list.

[2016-02-27 19:37] alexjj commented on #168
Here's a sample of what it outputs. All I did was delete the account names.
[Monthly_Totals_-_2016.xlsx](https://github.com/aumayr/fava/files/149516/Monthly_Totals_-_2016.xlsx)

[2016-02-27 23:34] cgrinds opened #175 "Charts with by-year filter"
Thanks for creating fava. It's really nice.

I have 26 years of data in beancount, and it would be great to have a by-year filter for the charts. For example the Income Statement chart has Monthly rollups, but no Yearly.

Trial Balance has Yearly Balances and Changes, but seems like it might be useful for other charts too.

[2016-02-28 03:17] corani commented on #157
All confirmed working. Awesome!

[2016-02-28 03:21] corani commented on #156
This is still open. After adding a document (directly in the folder, or uploading through fava), I get the following log message:

[code]

The page reloads, but the new document doesn't show up.

[2016-02-28 06:23] corani commented on #175
Wow, 26 years? That's dedication! That motivates me to finally convert the five years history I still have in c-ledger to beancount.

While adding a "yearly" chart is easy, it is getting a bit crowded below some of the charts (especially if you're using a couple different operating currencies, like me)

I was thinking that it might be a better idea to add a select box to most of the charts with "R

[2016-02-28 07:53] aumayr commented on #157
👍

[2016-02-28 07:53] #157 closed

[2016-02-28 07:57] aumayr commented on #175
@cgrinds Boah, 26 years is comprehensive :+1:

I think @corani's concern is valid and suggestion is good: The "Roll-up"-select box totally makes sense.

[2016-02-28 07:59] aumayr commented on #175
In fact, there could be even more charts, and these should be lazily loaded (async requests for their data) because with more charts the API-calls take a lot of time.

[2016-02-28 08:02] aumayr opened #176 "When starting fava, check if beancount file exists"
Right now there is no good way to tell the user that the beancount file could not be found.

[2016-02-28 08:04] aumayr commented on #175
Would something like this be enough? Or is there a better place/way to do the UI?

![screenshot](https://cloud.githubusercontent.com/assets/5135450/13378132/2ff06c18-ddfa-11e5-9bc5-96371462b268.png)

[2016-02-28 08:10] corani commented on #175
Looks good to me

[2016-02-28 08:16] aumayr commented on #165
I made some progress with the prototype, and one key learning is that (2) "In the beancount-file, as metadata" works well, but there are two drawbacks:

- The syntax suggested is not working, because metadata-keys have to be unique (duh, that was obvious).

- There is no "open"-directive for the root-level-accounts, eg. `2016-01-01 open Expenses`. So with this method it is not possible to set meta

[2016-02-28 13:22] cgrinds commented on #175
24 years of Quicken data, converted to Moneydance last Dec, then converted to beancount in Jan. I created a simple QIF -> beancount converter to do the heavy lifting. It's been a great way to validate the data and fixes issues in the source material.

The rollup looks good and I agree with the crowding below the charts statement.

[2016-02-28 15:20] yagebu commented on #175
Looks good :+1: There should be a keyboard shortcut to toggle that also. Using `c` to go through the charts is quite comfortable :)

[2016-02-28 19:22] blais commented on #165
+beancount

On Fri, Feb 26, 2016 at 3:06 AM, aumayr <notifications@github.com> wrote:

out with the one you have below and evolve that a bit before committing to
creating a new entry.

(Note: Eventually I want to let plugins able to define their own directives
like this. A plugin could declare a new directive type, and a lax parser
would produce them and validate against a list of accepted tokens

[2016-02-28 19:25] blais commented on #165
+beancount

On Sun, Feb 28, 2016 at 3:16 AM, aumayr <notifications@github.com> wrote:

"Dated" metadata like this looks a little abusive. What does that look like
with years worth of data on that account?
That would be a lot of meta-data...
Personally I think this would be better achieved with a dedicated directive.

[2016-02-28 20:14] blais commented on #165
I just created you a "custom" custom directive to muck around with.
This should parse, for example:

2015-10-01 open Expenses:Books
2016-10-01 custom "budget" 50.00 EUR
2016-11-01 custom "budget" 45.00 EUR
2016-11-10 custom "budget" 60.00 EUR
2016-12-31 custom "budget" 30.00 EUR

You can put a list of strings, dates, numbers, amounts, booleans after
"budget".
The parser creates beancount.core.data

[2016-02-29 11:38] aumayr commented on #165
@blais This is awesome! Thank you!

I will change the prototype to use these "custom" directives, and will report back how it went.

[2016-03-02 00:20] alexjj opened #177 "Does fava really need python 3.5?"
This is listed in the readme that it needs 3.5. Pythonanywhere only runs 3.4 and everything seems to work fine in that.

I worry it might put people off or they do some unnecessary work to install 3.5 in their distro when perhaps 3.x is all that's needed.

[2016-03-02 07:16] #177 closed

[2016-03-02 07:17] aumayr commented on #177
True, good catch! Thanks!

[2016-03-02 20:34] aumayr commented on #175
@cgrinds I implemented this in the `chart-interval-switcher`-branch. Can you test the code from there if this works for you?

[2016-03-02 20:50] #163 closed

[2016-03-02 23:46] cgrinds commented on #175
@aumayr looks great! Thanks for adding.

One suggestion - after making a selection in the rollup box, remember it when switching views, otherwise the new view always switches back to monthly. A small thing, but something I noticed.

One issue is the chart links aren't quite right. For example if viewing by year, when you click on the chart's bar, you will be taken to `income_statement/?interval=ye

[2016-03-03 12:30] aumayr opened #179 "Filter by currency"
Add a new filter to the existing four filters, namely `Currency`.

[2016-03-03 13:25] corani commented on #179
Are we talking about operating-currency, or all currencies (from commodities)?

[2016-03-03 13:41] aumayr commented on #179
All currencies.

I currently have EUR and CHF as operating, as well as USD and others as other commodities.

When I select from this filter (which should show all commodities), then all selected currencies should become operating currencies, and all others hidden.

[2016-03-03 15:31] corani commented on #179
Okay, that makes sense. However, I don't know of a way to separate
currencies from other commodities such as stocks...

On Thu, Mar 3, 2016, 21:41 aumayr <notifications@github.com> wrote:

[2016-03-05 00:24] wogong opened #180 "ImportError: cannot import name 'iter_entry_dates'"
I installed the latest fava using `pip3 install --user fava` in arch.

Environment info
* `Linux  4.4.1-2-ARCH #1 SMP PREEMPT Wed Feb 3 13:40:19 UTC 2016 i686 GNU/Linux`
* Python 3.5.1.
* Latest beancount `pip install --user --upgrade beancount`

However, I got following error messages running `fava`

[code]

[2016-03-05 10:39] yagebu commented on #180
Please check the version of beancount that you've installed. `iter_entry_dates` was only added recently, so your version doesn't seem up-to-date.

[2016-03-05 10:51] aumayr commented on #180
@yagebu Was `iter_entry_dates` added after the latest Version-release of Beancount (as `setup.py` relies on the PyPI-version of Beancount)?

[2016-03-05 10:58] wogong commented on #180
Thanks for your info.
It seems that I have multiple Beancount installed using different methods.
I reinstall it from source using `hg update` and it works well now. :)

[2016-03-05 11:01] yagebu commented on #180
@aumayr it was added in https://bitbucket.org/blais/beancount/commits/643d3de10807e572117f4ae53fe0408af3681648 and has been in all the releases since 2.0b4 (the first one working with `pip`)

[2016-03-05 12:32] aumayr commented on #180
@wogong Good to hear that it works for you!

@yagebu Thanks for checking!

[2016-03-05 12:32] #180 closed

[2016-03-05 14:14] wzyboy opened #181 "Custom query `bql` parameter mixed with `time` parameter"
Doing a custom query after a time range is selected leads to URL parameter error:

`http://localhost:5000/query/?time=2016?bql=balances%20from%20year%20%3D%202015%3B`

The second `?` should be `&`.

[2016-03-06 18:06] xentac opened #182 "Yearly and Monthly Totals and Changes exhibiting off by one error"
Charges that occur in March 2016 are showing up in the April 2016 column, similarly with yearly changes and totals.  My guess is it's a nice off by one error.  I'll try to look into it, but I'm not in town for the next 3 days, so if someone else wants to take a look, I wouldn't complain.

[2016-03-06 19:38] garyp commented on #145
If it's useful, here's the command I use to convert Markdown reports into PDF: https://gist.github.com/garyp/9d600b228ffe0d382de8#file-report2pdf-sh. I use `pandoc` to convert from Markdown to HTML (my reports use some pandoc Markdown extensions) and `wkhtmltopdf` to render to PDF. The styling is pretty spartan, but that's obviously easy to change by updating the style sheet.

[2016-03-06 20:36] yegle commented on #165
It looks like the current syntax doesn't support things like this:

This contains 4 piece of informations:
- debit account: Amex credit card
- credit account (or merchant): BestBuy
- budget category: Entertainment
- a comment string: Fallout 4

I was wondering if this can fit in your implementation? Thanks.

[2016-03-07 07:44] wzyboy opened #184 "Display metadata that attached to postings"
I just found that metadata could be attached not only to transactions, but also to postings: [Beancount - Language Syntax §Metadata](https://docs.google.com/document/d/1wAMVrKIA2qtRGmoVDSUBJGmYZSygUaR0uOMW1GV3YE0/edit#heading=h.dplfcfjm39a1). (Not sure if Martin added this syntax recently or there is a memory gap in my head.)

However in Fava, only metadata that attached to transactions are shown.

[2016-03-07 09:58] corani commented on #184
Good catch!

[2016-03-07 10:23] corani commented on #181
Fix in #186, the `?` was hardcoded in the URL.

[2016-03-07 10:25] wzyboy commented on #181
Thanks @corani !

[2016-03-07 10:27] corani commented on #181
Please wait for @aumayr to merge the PR before closing :wink:

[2016-03-07 10:28] aumayr commented on #181
@wzyboy @corani Merged, thanks!

[2016-03-07 10:28] #181 closed

[2016-03-07 10:29] #182 closed

[2016-03-07 12:22] wzyboy opened #187 "Decimal display improvements"
Some currencies (like JPY, KRW), or some non-currency commodities (like credit card rewards "points"), do not use fractional parts in the real world. But Fava seems to display fractional parts anyway.

If all the transactions of a certain commodity (e.g. JPY) use only integers, `bean-query` and `bean-web` displays the amounts as `100 JPY`, but in Fava `100.00 JPY`. Could Fava hide the fractional p

[2016-03-07 13:12] wzyboy commented on #187
I am not sure, but the use of `dcontext` may help address this issue...

[2016-03-08 13:01] corani commented on #168
A quick-fix that doesn't turn integers and decimals into strings in #189

@aumayr I agree it makes sense to automatically split Positions and Inventory into two columns.

[2016-03-08 14:34] corani commented on #168
I pushed some more changes to automatically split `Position` and `Inventory`. It works, but it's not the most elegant code. @aumayr or @yagebu feel free to clean it up before merging.

[2016-03-09 03:34] corani opened #191 "Don't auto-reload when there are unsaved changes"
When you drop a document into the document folder while editing a source file, the page is reloaded and all your changes are lost.

[2016-03-09 06:27] wzyboy commented on #191
IMHO generally there should be a warning when there are unsaved changes in the editor box. Close the browser tab when there are unsaved changes should also trigger this warning.

[2016-03-09 08:26] corani commented on #191
A third case: when you have unsaved changes and switch the source file you're working on, your work is lost.

[2016-03-09 08:30] corani opened #192 "Query Editor: Can't execute saved query with changes"
When you load a saved query in the query editor, make some changes to it and submit it, the original saved query is executed and your changes are lost.

When you make any changes in the query editor, either (1) the `query_hash` parameter should be cleared, or (2) when a `bql` parameter is present, that should be used as the query instead.

Option (2) might allow for a `Reset` button, which could b

[2016-03-09 08:34] corani opened #193 "Query Editor: Add `source` link for saved queries"
Rationale:
When you want to permanently change a saved query, depending on how your source files are organized, it can be cumbersome to locate the query.

Proposed solution:
Below the query editor (e.g. left of the `Submit Query` button), add a link to the source file at the location where the specific query is located.

[2016-03-09 08:38] corani opened #194 "Query Editor: Add `Clear` button"
This should empty the editor and clear the `query_hash`, so a brand new query can be entered. (conceptually the same as navigating to `/query/`, but without the extra page load)

[2016-03-09 08:59] corani opened #195 "Journal: Flagged legs aren't highlighted"
You can also attach flags to the postings themselves, if you want to flag one of the transaction’s legs in particular:
[code]

Ideal:
When the transaction is collapsed, the entire transaction should be highlighted (as if you'd flagged the transaction with `!`). When it's uncollapsed, the flagged leg should be highlighted in the same way.

Acceptable:
When a leg of a transaction is flagged, the ent

[2016-03-09 09:08] corani opened #196 "Flagged transaction journal"
To quickly find all flagged transactions, create a new journal page for them (alternatively, create a filter-by-flag)

[2016-03-09 09:10] yagebu commented on #195
I don't agree. The whole transaction already has a flag (`*`), so the highlighting of the transaction should always derive from that. If you want to flag the whole transaction as pending, then `!` the whole transaction.

But we should highlight the posting according to its flag if it's different from the transaction flag.

[2016-03-09 09:11] yagebu commented on #196
For this we already have the toggle boxes on the journal page.

[2016-03-09 09:12] corani opened #197 "Source Editor: Position is lost on save"
When saving a source file the current position is lost. The editor reverts back to line-1 of the main source file.

[2016-03-09 09:17] corani commented on #196
Ah, I see. However, this doesn't work correctly.

When I only select "pending", many pages of balance-assertions, notes, documents, etc drown out the few flagged transactions. I need to uncheck all those types of entries as well, which is not expected (and probably why I didn't figure this out myself!)

[2016-03-09 09:18] corani commented on #195
The issue is that when the transaction has a `*` flag, when legs are collapsed, it's impossible to find those transactions with flagged legs.

[2016-03-09 09:21] corani commented on #196
Also, transactions with flagged legs don't show up, since the toggle-box filters only apply to flags on the entire transaction.

[2016-03-09 09:25] yagebu commented on #195
And that's sensible behaviour. If you want information about the postings you should display them.

[2016-03-09 09:26] yagebu commented on #196
Only transactions have flags, so the second row of filters can only apply to them. And as long as the `balances` box is still checked they are still supposed to show up.

[2016-03-09 09:28] corani commented on #196
According to the docs:

[code]

[2016-03-09 09:30] yagebu commented on #196
I was only referring to entries and of those only transactions can have flags. There is no way to filter the journal for postings or metadata currently (and maybe there should be), but we shouldn't overload the form with the filter boxes too much.

[2016-03-09 09:35] corani commented on #195
I don't agree. If one of the postings is flagged, obviously there's still something wrong with the entire transaction.

(by the way, even collapsed my page is already about 100,000 pixels high. Displaying the postings makes it more than twice that. Try finding anything in that...)

[2016-03-09 09:43] corani commented on #196
Since `*` (cleared) is the default flag (the same as not using any flag), I would expect that unchecking that box would also hide anything without flags (such as balance, note, document, etc)

Having said that, I agree that the current four levels of filters are confusing. (navigation bar, two levels of checkboxes and two buttons)

[2016-03-09 09:52] yagebu commented on #196
But every transaction has a flag (and no other entry type does). Only entries that have a flag can be cleared, and hence only transactions will be toggled with this box. It could be made more obvious that these toggle boxes only apply to transactions with some CSS I guess.

There shouldn't be any more filters (meaning those in the navbar) IMHO, but we should alternatively allow to filter the entri

[2016-03-09 09:54] yagebu commented on #195
Why should an arbitrary posting flag overwrite the transaction flag? Flags don't have any inherent semantic meaning and their meaning is for the user to define. Just because for you `!` means wrong, doesn't mean everyone uses it in the same way. Also if there's something "wrong" with the whole transaction, why not just flag the whole transaction with `!`? (this could be done with a plugin that cha

[2016-03-09 09:59] corani commented on #196
How about this one?

[code]

[2016-03-09 10:02] yagebu commented on #196
As far I can see, that currently wouldn't be enough for your purpose, as the only posting attribute the `from` syntax seems to currently support is account (through `has_account`). But I believe it would be a sensible addition.

"the default flag (“*”) will be set on the transaction object." => every transaction has a flag

[2016-03-09 15:27] #187 closed

[2016-03-10 07:27] aumayr commented on #175
@yagebu Can you help me implement two more cases for parsing "human-entered" dates?

I marked them here: https://github.com/aumayr/fava/blob/chart-interval-switcher/fava/util/dateparser.py#L5-L6

[2016-03-10 07:30] aumayr opened #198 "Check out graphics from ledgible"
https://github.com/lipidity/ledgible

[2016-03-10 08:26] aumayr commented on #184
Fixed in #185

[2016-03-10 08:26] #184 closed

[2016-03-10 08:27] aumayr commented on #191
I have seen my mom running into this issue a couple of times - she did just forget to save the changes, and wanted to check if there are errors... fixing this is important to avoid frustration.

[2016-03-10 08:28] aumayr commented on #193
Sounds good, and should be easy to implement.

[2016-03-10 08:35] aumayr commented on #195
IMHO you are both right:

- If a leg is flagged, the leg should be highlighted accordingly.
- If the transaction is collapsed, and just a leg is flagged, it should not look the same as if the transaction itself would be flagged.
- If the transaction is collapsed, and just a leg is flagged, it should be somehow visible to the user that there is a flagged leg.

So what about adding an indicator or s

[2016-03-10 10:01] aumayr commented on #196
First: Making the filters "permalink-able" by adding support for GET-parameters controlling the default-value of the filters seems like a first goal to support new use-cases ("Just show me flagged ones" => set a bookmark to do this).

If we decide to add a separate link in the sidebar explicitly for certain use-cases, it would be easy by just linking to those "permalinks".

For the filtering: Ther

[2016-03-10 10:08] #166 closed

[2016-03-10 10:09] aumayr commented on #166
Sorry @alexjj for the long wait. e9dfcae should fix this, which is rather simple ;-)

Thanks for your patience, and the good documentation in the error report (screenshot, etc.).

[2016-03-10 10:12] aumayr commented on #197
@corani This works for me - the cursor stays in the same line (but column 1) when I click "Save" in the Source editor.

[2016-03-10 10:13] aumayr opened #199 "Source Editor: Add keyboard shortcut for "Save""
`ctrl` + `S` (Win/Linux)
or
`cmd` + `S` (Mac)

[2016-03-10 11:49] aumayr commented on #187
@wzyboy Can you confirm that this is fixed?

[2016-03-10 12:05] wzyboy commented on #187
@aumayr I pulled and tested. This is fixed.

[2016-03-10 18:48] aumayr commented on #187
👍

[2016-03-11 11:37] corani commented on #197
I just noticed that things work fine in debug mode (`--debug`), but not in normal mode. No idea why that should make a difference though...

[2016-03-11 11:42] yagebu commented on #197
The difference could be that `livereload` is not enabled in debug mode currently

[2016-03-11 11:45] corani commented on #197
Good point! So probably `livereload` triggers a page reload before the `save` action has had the chance to redirect the user to the correct page (including filename and lineno)

[2016-03-11 12:02] aumayr commented on #197
Ahh of course, good catch @corani and @yagebu.

Because on a "Save" the file is changed on the disk, `livereload` reloads the page (as it should when a source file on disk changes.)

[2016-03-11 12:05] corani commented on #193
Adding a link to a context page is easy enough, as is adding a link for static query pages (those loaded with a `query_hash` parameter).

However, for dynamically loaded queries (changing the query from the select box) it's a bit more tricky, as we only have the `query_hash`, but not the source file and line number.

Any ideas how to solve this?

[2016-03-11 12:18] aumayr commented on #193
We could store more than just the `query_hash` in the `value="..."`-attribute of the `<select>`, like `value="[query_hash];[source_file];[lineno]"`, and then split that value in the part of the JavaScript-code that submits the form and use it accordingly.

[2016-03-11 13:53] corani commented on #196
I like the idea of being able to permalink certain journal filtered views in the sidebar. That would be a very useful addition.

[2016-03-11 14:01] corani commented on #198
The [sunburst chart](https://lipidity.com/cgi/ledgible/app.py/sunburst?a=^Expenses&a=^Income) is kind of fancy (though [this presentation](http://bl.ocks.org/kerryrodden/7090426) is a bit better)

[2016-03-11 14:02] yagebu commented on #192
I don't see any point in keeping the `query_hash` in the URL. If a user presses the "Submit Query" button, the query was changed (why else would you want run the query) so the `query_hash` will not be consistent with the query string and should be ignored anyway.

[2016-03-11 14:06] corani commented on #192
It's there to highlight the correct query in the sidebar and select box, though I see your point. I'd be okay with loosing the highlight after submitting a query.

Alternatively, maybe we could execute the query asynchronously? That would improve responsiveness, and at least ensure we don't loose the highlight of the select box.

[2016-03-11 14:12] yagebu commented on #192
The problem is that it's unclear if we can even determine the "correct" query. We would have to check if the text changed, which too much hassle IMHO. I'll submit a PR removing the query_hash.

:+1: that would be the right way to bring back the highlight!

[2016-03-11 14:18] yagebu commented on #175
Will do.

[2016-03-11 14:20] yagebu commented on #194
If #203 is merged, I guess this would become unnecessary, right?

[2016-03-11 14:26] corani commented on #194
I suppose so

On Fri, Mar 11, 2016, 22:20 Jakob Schnitzer <notifications@github.com>
wrote:

[2016-03-11 21:51] yagebu commented on #195
Indicators sound like a good idea (I imagine one colored dot for each posting). This will also make it easier to spot transactions with lots of postings.

[2016-03-12 07:57] aumayr commented on #195
One colored dot for each posting with a flag you mean?

[2016-03-12 08:44] #193 closed

[2016-03-12 09:01] #192 closed

[2016-03-12 09:01] #194 closed

[2016-03-12 09:34] yagebu commented on #195
I actually meant one for each posting (so if it has no flag, the dot would have the same color as the transaction, maybe with a dark border to make it visible). This way it would serve two purposes: 1. Show flagged postings and 2. show number of postings. The first one is not interesting for me while the second one might be.

[2016-03-12 09:42] corani opened #205 "Regression (?) Number formatting lost"
I seem to have lost the formatting of numbers in a recent update. Previously all numbers had thousands separators and two decimals (as they have in my source files), but now:

- No thousands separators
- Inconsistent decimals (some zero, some one, some two, some about 26 (!))

[2016-03-12 09:45] corani commented on #205
I added a

[code]

to my source file to get rid of the 26 decimals case, but that still leaves the unwanted zero and one decimal numbers.

[2016-03-12 10:04] yagebu commented on #205
We use the `render_commas` beancount option to determine this, you should set it if you want them.

This is determined by beancounts dcontext now, so it should be the same as in beancount. What does `dcontext` look like for the commodities in question?

[2016-03-12 10:27] aumayr commented on #205
Maybe we should point that out to users explicitly, and use the previous behavior (`.` as thousands separator) as the default option?

[2016-03-12 10:38] yagebu commented on #205
The problem is that `beancount` already sets the default for us, so we if no way of knowing if the user didn't set the `render_commas` option or they intentionally set it to false. There is no code in `beancount` actually using/respecting that option, so if we want to change the default, I guess we would have a good cause. I don't really care what the default is.

@blais: What's your position rega

[2016-03-12 11:50] corani commented on #205
It's not that different commodities have different decimals. For **one** commodity, I see zero, one and two decimals (and previously 26 as well):
[code]

All my commodities have the following dcontext:

[code]

[2016-03-12 12:10] yagebu commented on #205
That's weird (and looks like a beancount bug to me). The display context is supposed to keep track of the decimal digits, so as soon as you've used a commodity `fractional_common` and `fractional_max` should be defined (and then we print all numbers for that commodity accordingly). Do you have any beancount options set that might be related?

Makes sense in combination with the above. The `dcontex

[2016-03-12 12:15] corani commented on #205
The only options in my source file are:

[code]

So nothing that should cause this AFAIK.

[2016-03-12 12:19] corani commented on #205
Ah, I get it.

I found that the offending numbers are from an import from some old data from `ledger-cli` I did recently. The importer didn't consistently render two decimals, as I use when manually entering data.

Is there any way to force beancount to use two decimals, even when less decimals are present in the source file?

[2016-03-12 12:30] yagebu commented on #205
I always thought you were talking about reports, but you only mean the journal? There we don't use the display context, but display everything in the same precision as in the file, as it's basically just a fancier way to view the raw data without modifications. We could introduce an option to override the precision, but I would be against it, as we might loose a lot of precision. If something is o

[2016-03-12 12:41] corani commented on #205
I think an override to *increase* the precision couldn't hurt, i.e. minimum-precision is two decimals.

I've started manually cleaning up the imported data, I needed to massage it anyway to match up with my current conventions.

If nobody else is interested in a minimum-precision, feel free to close this issue.

[2016-03-12 18:10] blais commented on #205
I have a lot to say in this thread, and to be honest I'm not following all
the details from your comments.
Let me provide some context and terminology to explain what might be going
on.

First, it's important to realize how these numbers are represented in
memory. They are using the Decimal representation which beyond being able
to accurately representing decimal numbers (as opposed to the approxi

[2016-03-12 19:39] blais commented on #205
I just fixed the bug with render_commas not being honored.
It should now affect the web interface and the PRINT command.

I think I'm not rendering the cost and price consistently with maximum
precision everywhere though, I'll need to review this at some point later.

On Sat, Mar 12, 2016 at 1:09 PM, Martin Blais <blais@furius.ca> wrote:

[2016-03-12 19:56] blais commented on #205
I just realized further that the reports under beancount.report aren't
honoring the display context either.
I need to complete this work and just use it consistently throughout.
https://bitbucket.org/blais/beancount/issues/108/beancountreport-reports-arent-honoring-the

I'll do this later... I need to wrap up the ingest branch.
This will take a while.

On Sat, Mar 12, 2016 at 2:39 PM, Martin Blais

[2016-03-12 20:15] blais commented on #205
To be specific: Here I mean the "text report".
That same code is used to render the web reports, which do honor it.

On Sat, Mar 12, 2016 at 2:55 PM, Martin Blais <blais@furius.ca> wrote:

[2016-03-12 23:22] blais commented on #205
I just fixed the balances and income text reports:
https://bitbucket.org/blais/beancount/commits/623da672d912ccb949e289464a3951689b6ca71d

At some point I'll review the entire reports code to ensure the
DisplayContext is used absolutely everywhere.
Apologies for the confusion.

On Sat, Mar 12, 2016 at 3:15 PM, Martin Blais <blais@furius.ca> wrote:

[2016-03-13 12:43] #197 closed

[2016-03-13 15:54] yagebu commented on #168
Is there anything more to be done here after #168 @alexjj?

[2016-03-13 17:11] yagebu commented on #139
If we add something to distinguish between currencies and other commodities, it would be nice if it worked automatically without having to add any metadata. I don't put any `commodity` directives for currencies anyway.

How about using the following heuristic: If the commodity name has three letters or less (as all the ISO 4217 currency codes do), treat it like a curreny.

[2016-03-13 17:19] yagebu commented on #151
I don't think it's really worth the effort. For features that we want to provide we should integrate custom reports. Including a shell doesn't really offer anything the user couldn't do in the terminal. And unlike the Query page we can't really improve the output and link accounts for example.

[2016-03-13 20:36] aumayr commented on #151
I agree. This was just a quick idea, and not to forget it I opened this issue. Will close as "wontfix".

[2016-03-13 20:36] #151 closed

[2016-03-13 20:53] yagebu commented on #91
In my opinion closed accounts should not be shown by default (but can be with an option). Providing options to hide accounts with no transactions or with balance == 0 are also sensible suggestions (the first more so than the latter in my opinion).

[2016-03-13 20:55] yagebu commented on #150
The website is now live at https://aumayr.github.io/fava/.

[2016-03-13 20:55] #150 closed

[2016-03-13 21:40] aumayr commented on #150
Looks very good! Thanks!

I will add a logo to the top of the left sidebar in the next days.

[2016-03-14 03:56] miaoluda opened #207 "Only the first currency can display a net worth chart."
![fava bug 1](https://cloud.githubusercontent.com/assets/14816337/13734688/6f4e6328-e9db-11e5-82cd-960e5b62e296.png)
![fava bug 2](https://cloud.githubusercontent.com/assets/14816337/13734691/791ffbd2-e9db-11e5-8e3d-84017f7dc2ac.png)

Reproduce:
Add the following lines to example.beancount:
[code]

[2016-03-14 08:15] corani commented on #139
It's not ideal, since there certainly are three or less letter stocks, but it would work for me.

Some other ideas:
- only do this for `operating_currency`
- use a (hardcoded) list of currency codes
- configuration option

[2016-03-14 08:18] aumayr commented on #139
This calls for a default of "disabled" and a configuration option to enable it, because it would confuse users if they do not know about this convention. So my vote is for "configuration over convention" ;-)

[2016-03-14 08:23] corani opened #208 "Editor: Support code folding"
Add the possibility to fold regions of source files. In the beancount documentation, Martin gives the example of org-mode:

[code]

Alternatively, [C-style folding](https://github.com/ajaxorg/ace/wiki/Non-Standard-Code-Folding) could be implemented.

This is useful if you organize your source files not purely chronologically, but grouped by institution.

[2016-03-14 11:28] yagebu commented on #207
Thanks for the report! I think I've discovered the reason for this bug and should be able to provide a fix today.

[2016-03-14 14:55] alexjj commented on #166
Thank you :+1:

[2016-03-14 15:25] #175 closed

[2016-03-14 15:25] #207 closed

[2016-03-14 15:28] yagebu commented on #139
If possible, I would refrain from adding another option and the following seems to be the best suggestion:

[2016-03-14 15:33] cgrinds commented on #175
Thanks all, looks great.

[2016-03-15 06:52] aumayr commented on #198
This looks very nice :heart_eyes:

Will see how I can build this into fava. One problem I instantly see: This takes up a lot of space, so it probably would need it's own page. And the question is for which "data" to show this - the trial balance? For single Account pages?

What also would be nice, now that new graphics are on the table: https://github.com/DKirwan/calendar-heatmap would be a nice w

[2016-03-15 07:13] corani commented on #198
Hi like the calendar-heatmap!

Maybe we can use it to show amounts as well on the Income Statement,
instead of the current bar-chart, when the interval is "daily".

On Tue, Mar 15, 2016 at 2:52 PM, aumayr <notifications@github.com> wrote:

--
Best regards,
Daniël Bos

Your government is reading your email. Slow them down with encryption.

My public key: http://goo.gl/gms497 (4096 bit RSA, id EF2D5

[2016-03-15 07:18] #199 closed

[2016-03-15 07:19] aumayr commented on #199
Source Editor:

<kbd>ctrl</kbd>+<kbd>s</kbd>: Save
<kbd>cmd</kbd>+<kbd>s</kbd>: Save (Mac)

Query Editor:

<kbd>ctrl</kbd>+<kbd>Enter</kbd>: Execute query
<kbd>cmd</kbd>+<kbd>Enter</kbd>: Execute query (Mac)

[2016-03-15 10:10] yagebu commented on #35
Will add a note about this to the help pages.

[2016-03-15 12:52] #168 closed

[2016-03-15 13:00] #91 closed

[2016-03-15 13:17] #139 closed

[2016-03-15 15:40] aumayr commented on #208
Fixed in #209 (01a6582b32dc5e6a5ac84db6c42009622f52a312)

[2016-03-15 15:40] #208 closed

[2016-03-15 19:09] aumayr commented on #139
@yagebu Is the formatting of the numbers in the following screenshot accidental? (CHF/EUR is the calculated one)

![screenshot](https://cloud.githubusercontent.com/assets/5135450/13790618/a3e248c0-eae9-11e5-90d0-5609fa48bc9e.png)

[2016-03-15 19:16] aumayr commented on #165
@yegle It does:

[code]

[2016-03-15 19:19] aumayr commented on #145
garyp on the Mailing List (for reference):

[2016-03-15 19:22] aumayr opened #210 "Permalink certain journal filtered views in the sidebar"
@corani over at #196:

I think this is worth having a discussion. There could be a new Sidebar-section with these "custom views". And we could read them from the configuration-file, where you could put an array of custom links (permalinks) to be displayed in the sidebar.

What do you think, @corani?

/cc @yagebu

[2016-03-15 19:24] aumayr commented on #195
Sounds good to me. I will have a go at it.

[2016-03-15 20:48] yagebu commented on #139
@aumayr: turns out that `format_currency` wasn't used. It is now.

[2016-03-15 20:55] aumayr commented on #150
@yagebu I added a logo and updated the page: https://aumayr.github.io/fava/

[2016-03-16 06:33] yagebu commented on #150
:+1:

[2016-03-16 06:35] #196 closed

[2016-03-16 06:39] aumayr opened #211 "Editor: Sensible tabsize default"
In my beancount file I use a tabsize of 2 spaces, because it looks best to my eyes.

The current default is 4 spaces. Is there a recommendation by @blais / the beancount docs or any other reference for which tabsize to use?

[2016-03-16 06:51] corani commented on #211
I use an indent of two spaces as well, the larger tab size is convenient
though, for aligning the amounts. With tab size of two, you'd be tabbing
forever!

On Wed, Mar 16, 2016, 14:39 Dominik Aumayr <notifications@github.com> wrote:

[2016-03-16 13:24] blais commented on #211
Haven't even thought about it.
I use two spaces to indent my postings.

On Wed, Mar 16, 2016 at 2:39 AM, Dominik Aumayr <notifications@github.com>
wrote:

[2016-03-16 22:31] aumayr commented on #195
I implemented the dots in d84d78b, and I'm quite happy with them.

What do you think, @corani and @yagebu ?

[2016-03-17 01:49] corani commented on #195
Looks great!

[2016-03-17 07:59] #195 closed

[2016-03-18 00:36] yegle commented on #210
Might be related but I wish I can add a saved custom query to the sidebar

[2016-03-18 00:38] yegle commented on #165
@aumayr You are right, I wasn't aware of the "payee" field in transaction directive.

[2016-03-18 00:42] yegle opened #212 "Number should be clickable in Monthly Change view"
In /account/$ACCOUNT/monthly_changes/ view, the number listed there should be link to a view that list all transactions in that month that affect the balance of this account.

Or better, I'd like to be able to hover on the number and list the transactions in a popup menu.

[2016-03-18 01:45] corani commented on #210
You can already add custom queries. Just save them in your source file and add the following to your settings file:

[code]

This still show the first <number> of queries in the sidebar (ordered by date)

[2016-03-18 04:05] corani commented on #210
@aumayr permalinks in the settings file is okay with me, but we need a title for each of them. Is there any way to put a dictionary in the settings file? Or should we create an additional section for them (so not under `[fava]`, but as key->values under e.g. `permalinks`?

By the way, I've been thinking, wouldn't it be nice if we would be able to put all the settings in the source file, instead of

[2016-03-18 04:16] corani opened #213 "Switch between multiple root source files"
Imagine you are responsible for multiple finances, e.g. your _personal_, your _side-business_ and some volunteer _organization_. Obviously you wouldn't want to mix those into one source file, so you keep separate source files, each with their own account hierarchy.

Currently you'd have to restart fava with different command-line arguments, to be able to switch between them. I'd like to be able to

[2016-03-18 04:21] corani commented on #212
This shouldn't be hard, for each cell we have the `account` and the `time`, so we can easily construct a link to `/account/$ACCOUNT/?time=$TIME`, though I suggest to make the entire cell clickable, not just the number.

[2016-03-18 04:31] blais commented on #210
It's not a bad idea to open them up, though I'd want to warn the user about
unused options so we don't get into the unfortunate scenario an option is
defined but has no effect. In order to do this, I'd have to build a
mechanism to register for options to be at least recognized.

Another problem is that the currently option values have only a limited
number of types, and they're not really in the l

[2016-03-18 05:08] corani opened #214 "Move fava settings to source file options"
Tracking: [Allow unknown Options for other programs](https://bitbucket.org/blais/beancount/issues/111/allow-unknown-options-for-other-programs#)

@corani in #210

@blais  in #210

[2016-03-18 05:11] corani commented on #214
@corani in [beancount#111](https://bitbucket.org/blais/beancount/issues/111/allow-unknown-options-for-other-programs#)

Some examples of how we could use this to store settings for fava:

[code]

Basically I propose using a "<application>.<option>" scheme. Let applications register their preamble, if necessary, they can validate the remainder themselves. Optionally, for consistency, we could move

[2016-03-18 07:09] aumayr commented on #214
@corani Good idea! The "division of concerns" is important here, that's why I opted for a separate settings file. But maybe integrating it into the beancount file, as you suggested, is worth a second look.

@blais suggested the following, already existing, functionality in beancount (merged with your comment on Bitbucket):

[code]

I think this would be a good start, until @blais implements someth

[2016-03-18 07:15] aumayr commented on #213
Ahh this is a very good idea!

I personally have multiple ones (my own, my Mom's side business, my Dad's car restoration project), and so this would be much welcomed!

A few thoughts:

- You could start it by using `fava [file1] [file2] ...`
- Switcher, as you suggested, at the top left (the title of the beancount file as a (nicely styled) dropdown/`<select>`)
- As the application is practically "

[2016-03-18 07:16] aumayr commented on #212
I don't like popups, but the link sounds good!

[2016-03-18 07:17] aumayr commented on #211
@corani The "tabbing forever"-argument is valid. Will close as `wontfix`.

[2016-03-18 07:17] #211 closed

[2016-03-18 07:19] aumayr commented on #165
OK so the code starts to look very nice (as does the UI), and so the discussion is to be held over if/how we should integrate this into `master`.

This feature could be "transparent" as long as you don't use the custom directives in your beancount file, meaning no visual change for current users, but it starts to show up if you do.

What do you think, @yagebu ? (Will push the code over the weekend

[2016-03-18 07:22] aumayr commented on #35
I consider this to be fixed, as only these parts are open:

Again, will reopen/implement if this is implemented in beancount.

I still have no idea how this should/could look like, so a `wontfix` for now.

[2016-03-18 07:28] corani commented on #214
I suggest to leave the current settings file as-is, until we have custom options. While using the `plugin` directive works, it's not particularly user-friendly for two reasons:

1. Users need to write out a valid python dict. (or write the settings as `configparser` compatible text)
2. Multiline text doesn't work well, especially when longer. Since we don't (yet) have triple-quoted strings in the

[2016-03-18 07:51] corani commented on #214
For completeness, to make the `plugin "fava.options" "{ ... }"` work, create the following:

**fava/options.py**
[code]

This will add the fava config to the master beancount options dictionary. (`config` is a string, so instead of eval, you could pump it through `configparser` and use the appropriate format in the source file)

[2016-03-18 09:20] yagebu commented on #213
Good suggestion!

I would prefer keeping the file in the main part of the URL. I think `/title/report` where title is simply the title of the beancount file makes the most sense conceptually.

[2016-03-18 09:36] yagebu commented on #210
I think we should support saving entry filters instead/first (and support arbitrary `from`-expressions as filters). I personally don't really see a big improvement in saving the chosen view of just the journal. The toggle boxes could be improved, e.g. shift-click or ctrl-click to just show/hide one type of directive. If we have that, I can't really see a use case where a saved view would help much

[2016-03-18 09:37] #205 closed

[2016-03-18 09:38] yagebu commented on #165
Can you create a PR when you're done? Then I'll review the code and merge.

[2016-03-18 09:50] aumayr commented on #210
I have to be more specific. I didn't only mean "custom journal views", but permalinks in general. So I can have a "Balance Sheet EUR" and "I/E Trip to NYC" and "Transactions with Customer A" in my sidebar, with the appropriate filters set.

[2016-03-18 09:52] aumayr opened #217 "Filter entries by arbitrary FROM expressions"
from #210

[2016-03-18 09:53] aumayr opened #218 "Improve Journal filter toggle boxes"
From #210

@yagebu:

[2016-03-18 09:53] aumayr commented on #210
But @yagebu you are right, first things first: Storing the entry filters first and improve the filter toggle boxes.

I created #217 and #218 to track those changes.

[2016-03-18 14:03] #176 closed

[2016-03-18 15:00] #35 closed

[2016-03-19 00:58] blais commented on #210
You could read them from the Query directive.
Just an idea.

On Fri, Mar 18, 2016 at 5:36 AM, Jakob Schnitzer <notifications@github.com>
wrote:

[2016-03-19 00:59] blais commented on #214
I agree, to some extent.
Though I think it's nice to start using this for a little bit and get
going, and see how it goes to make sure you really do end up needing what
you think you need now. You'll know better your requirements once you use
this for a little while and then we can build the most appropriate change
to the Beancount syntax thereafter.

On Fri, Mar 18, 2016 at 3:28 AM, Daniel Bos <n

[2016-03-19 12:17] draug3n opened #219 "missing CSS/JS"
Well, title says it all. I've been running fava quite happily as a service (under cygwin, in windows). Recently upgraded to latest git (default branch), with no CSS/JS - all I see is 'naked' html. Installed latest release available in pip - no difference. Ran it in a terminal, so I could see the pretty text - no difference, and no errors reported.

Fava is otherwise functional - I can click around

[2016-03-19 12:24] aumayr commented on #219
For running fava from the lastest git-version you need to compile the CSS and JS:

(Assuming you have Node.JS installed): `make build-js`

This generates/combines all the CSS and JS necessary.

The pip-version should have these files already included, as we generate them prior to uploading to PyPI.

[2016-03-19 12:25] aumayr commented on #219
See also https://aumayr.github.io/fava/development.html

[2016-03-19 18:49] draug3n commented on #219
Well, there's the rub. I get no CSS/JS - even when I install from pip.

[2016-03-19 19:02] aumayr commented on #219
So it still does not work for you?

[2016-03-19 19:34] draug3n commented on #219
I'm good now. Needed to force removal of fava from python's site_packages directory to force reinstall from pip3.

------------------------------------------

Tried building the CSS/JS from source - but got lots of interesting errors, mostly of the following sort:

    fatal: '/cygdrive/c/Users/marti/AppData/Roaming/npm-cache/_git-remotes/git-https-github-com-lrgalego-jquery-treemap-git-c1ffaf95/C

[2016-03-19 19:37] aumayr commented on #219
OK good to hear it works now.

@corani Aren't you running on Windows/Cygwin as well?

[2016-03-19 21:04] corani commented on #219
Nope, Ubuntu Linux here.

On Sun, Mar 20, 2016, 03:37 Dominik Aumayr <notifications@github.com> wrote:

[2016-03-19 21:15] aumayr commented on #219
@corani Oh, sorry :-)

[2016-03-19 21:15] #219 closed

[2016-03-19 21:33] aumayr commented on #213
Agreed, putting it in the Path-part of the URL is better.

[2016-03-19 21:42] aumayr commented on #210
@blais Showing queries from the `query` directives is already implemented:

- In the "Custom Query" editor, they will be shown in the dropdown on the top right.
- There is a setting for how many to show in the sidebar:

[code]

What would be nice is adding *any* permalink-able page as a link to the sidebar, like the examples given above ("Balance Sheet EUR" and "I/E Trip to NYC" and "Journal of tr

[2016-03-20 00:12] redstreet commented on #35
Sorry I haven't gotten back on this yet: I'll probably submit a few PRs in the next few days, but I expect all of it to be minor.

[2016-03-20 00:56] redstreet opened #221 "Copy balance directives is limited to 751 lines?"
Is there a limit on the number of lines for the "copy balance directives" in the Statistics page? I'm seeing 751 lines, but the remaining don't make it through. This used to work before.

One more weird thing: the "Click to copy" in the tooltip hows up for several accounts, but does not show up for accounts towards the bottom of the table that have the same status (eg: yellow, and no-gray).

[2016-03-20 01:28] redstreet commented on #159
Just a note: though developing fava on Cygwin might not be easy because of the issues above, it runs fine on Cygwin when installed through pip3. I'll can add a note to docs/usage.rst if you would like. Something like:

fava should be able to run wherever a Python 3 installation is available, and is known to run on Mac OSX, Linux, and Cygwin

[2016-03-20 01:56] redstreet opened #222 "Uptodate indication and non balance affecting directives"
Currently, the uptodate indication shows yellow in this example:
[code]

It should show green. All directives that cannot affect the balance (like `document`) should be ignored when calculating uptodate statuses.

[2016-03-20 03:48] redstreet commented on #221
One more weird thing: the "Click to copy" in the tooltip hows up for several accounts, but does not show up for accounts towards the bottom of the table that have the same status (eg:  yellow, and no-gray).

[2016-03-20 04:30] redstreet commented on #221
I'm not able to reproduce this issue reliably. I'll try a few more times, and if I can't reproduce it in the next few days, I'll close this out.

[2016-03-20 08:16] redstreet opened #223 "Yearly balances is off by one year"
See: http://fava.pythonanywhere.com/account/Income/yearly_balances/
Shows 2017, 2016, 2016. Should show 2016, 2015, 2014:

![image](https://cloud.githubusercontent.com/assets/691755/13903457/75ba4e2c-ee39-11e5-9446-87d67dd5f7cd.png)

[2016-03-20 08:19] aumayr commented on #223
fava.pythonanywhere.com runs the PyPI-version of fava, so the last numbered release, not the master-branch (as this is technically not possible on pythonanywhere.com).

This was a bug in the last version, and is already fixed in master, and will be part of the next release (shouldn't be too long out), which will get automatically pushed to pythonanywere.com.

But anyway, thanks for spotting and re

[2016-03-20 08:19] #223 closed

[2016-03-20 08:21] aumayr commented on #223
@yagebu In the light of this, as much has happened since the last version: We could make a new release today. What do you think?

[2016-03-20 08:22] redstreet commented on #223
Great, thanks!

Sorry I'm behind - I'm limited to using the PyPI version on the Cygwin box where I do my accounting.

[2016-03-20 08:24] redstreet commented on #221
The issue is definitely appears frequently (80% of the time). Mentioning it in case you see it while using it.

[2016-03-20 08:29] redstreet opened #224 "Make "copy balance directive" feature available everywhere"
This is the feature that copies the balance directive to the clipboard when the green/yellow/red dot is clicked on. This works from the table in the Statistics page, but it would be great if it worked from everywhere i.e., the balance/income statement pages, etc.

Reason 1: I find myself frequently focusing on a certain account, and having to go to the statistics page just to copy the directive is

[2016-03-20 08:31] redstreet commented on #35
Apart from a few minor issues (#222, #221), on the whole this feature has been working great, and I've been using it plenty. Thanks for the excellent work on this!

[2016-03-20 09:57] yagebu commented on #223
@aumayr new release is a good idea!

[2016-03-20 09:58] aumayr commented on #223
@yagebu Do you want to have a go at it or should I?

[2016-03-20 10:00] yagebu commented on #223
I'm writing up the Changelog right now and can then make the release.

[2016-03-20 10:02] aumayr commented on #223
OK, let me know when everything is ready, and I will upload it to PyPI.

[2016-03-20 10:44] yagebu commented on #223
@aumayr done.

[2016-03-20 10:52] aumayr commented on #223
@yagebu Thanks - done as well:

- http://aumayr.github.io/fava/changelog.html
- https://pypi.python.org/pypi/beancount-fava/0.2.6
- https://github.com/aumayr/fava/milestones/v0.2.7

🙏🏼

[2016-03-20 14:37] adamgibbins opened #225 "Unable to view journal since upgrading"
I cannot recall the version I was on previously, I think 0.2.3 - however I just upgraded and can now no longer hit /journal, I get the following in debug mode:
[code]

Is there any further info I can give to help debug?

Thanks

[2016-03-20 16:14] yagebu commented on #225
I can't reproduce this. What version of beancount are you running?

[2016-03-20 16:30] adamgibbins commented on #225
Beancount version is 2.0b7. `bean-check` passes fine.

[2016-03-20 16:33] yagebu commented on #225
Do you also get this with a minimal beancount file? Do you use any beancount plugins, or do you have any options set that might be relevant to the journal?

[2016-03-20 16:43] adamgibbins commented on #225
I just tested, works in 0.2.5, does not work in 0.2.6. I do have plugins but disabling them doesn't resolve.

By process of elimination I've managed to identify 3 transactions similar to this appear to be causing the issue:
[code]

[2016-03-20 16:48] adamgibbins commented on #225
Further digging suggests `option "account_rounding" "RoundingError"` is the cause.

[2016-03-20 17:30] yagebu commented on #225
Thank you for the detailed report and the digging! I think I know the cause of this now. Will provide a fix later.

Since 0.2.6 fava will also display posting metadata. For this we have to remove some attributes that we don't want to show (filename and lineno). But for autogenerated postings like the ones that the `account_rounding` option adds, these don't exist of course, so the code fails.

[2016-03-20 17:51] #225 closed

[2016-03-20 17:59] yagebu commented on #225
Can you try and see if my fix works for you?

I've attached a source distribution, if you don't want to setup a dev environment. (`pip3 install 0.2.7.dev0.zip` should work)
[0.2.7.dev0.zip](https://github.com/aumayr/fava/files/181429/beancount-fava-0.2.7.dev0.zip)

[2016-03-20 18:07] adamgibbins commented on #225
That fixes, thanks for the speedy resolution! :+1:

[2016-03-21 00:29] redstreet opened #226 "Custom queries very slow"
This is probably a design issue to be discussed, hope filing this as an issue here is okay.

When I have a handful of custom queries I want to run one after the other, bean-query is almost instantaneous for each query I run, after the initial startup time (long in my case, since I have thousands of transactions and many plugins). With fava, however, each query takes on the order of half a minute t

[2016-03-21 00:33] redstreet opened #227 "Load queries asynchronously"
When I select a custom query and run it, the drop down box resets to a blank. So when I see the result, there is no indication on the page as to the name of the query I ran.

It would be nice for the query page to display the name of the custom query (as specified in the source) around where it currently says "Results".

[2016-03-21 01:02] redstreet opened #228 "Sort the Time/Year drop down menu at the top in descending order"
The year drop down menu seems to list all available years. Users with a long transaction history have to use the scroll bar to scroll to the end to select the current year, which is the last entry.

Even worse, per Martin's suggestion with beancount, some of my account related to funds have open directives with years the funds were created, which means more irrelevant years to scroll through.

The

[2016-03-21 01:20] corani commented on #227
This functionality has been sacrificed, in order to allow you to change
saved queries before executing. However, we know how to fix it, by
executing the queries asynchronously.

Since I'm out of town this week, maybe @aumayr or @yagebu has the time to
change this?

On Mon, Mar 21, 2016, 08:33 Red S <notifications@github.com> wrote:

[2016-03-21 01:23] corani commented on #228
Off the top of my head, this is in templates/_layout, it's probably as
simple as adding a `|reverse` to the api call that gets the years. Feel
free to give it a try!

On Mon, Mar 21, 2016, 09:02 Red S <notifications@github.com> wrote:

[2016-03-21 05:06] yegle opened #230 "Make excel related dependencies optional"
I'm trying to dockerize fava and noticed the dependency on pyexcel-* caused ~22MB additional space.

Personally I never used that feature, and I could live with the CSV export if I really need it. I wonder if the dependency on them can be optional? setuptool allow `extras_require` in setup.py, and if people do want to export to .xlt file, they can install fava via `pip install fava[excel]`.

Link

[2016-03-21 05:52] redstreet commented on #228
Awesome, thanks for the pointer, @corani . Done, and PR submitted.

[2016-03-21 06:24] aumayr commented on #228
@redstreet Thanks for the PR - so obvious, so helpful!

[2016-03-21 06:24] #228 closed

[2016-03-21 09:50] yagebu commented on #226
Nope, fava only loads the file once on startup (or when it's changed) and calls into beancount directly to run the query. The only thing we then to is to render it in the template and I would be surprised if that takes more than 1 or 2 seconds for very large tables.

Can you run fava with profiling enabled?

[2016-03-21 15:53] #222 closed

[2016-03-21 15:55] yagebu commented on #224
Good idea!

[2016-03-21 16:22] #224 closed

[2016-03-21 18:31] redstreet commented on #91
Thanks, these are very helpful!
#234 adds this to the documentation.

[2016-03-21 19:48] redstreet commented on #226
You're right, most of the time is spent in beancount:

[code]

[code]

A couple of questions:
- (perhaps for @blais) Is that function (compare.py:18(stable_hash_namedtuple)) really important for a query/display? Can it be skipped?
- It seems like GET.query is called for each time a new custom query is picked from the list (GET.query.stored_queries, I think?), which is what is taking most of the ti

[2016-03-21 20:44] yagebu commented on #226
From the profile it seems like this is something on our end after all. Still busy now, I will elaborate and probably fix this later. I assume the long page load also happens for the empty "/query/" page?

[2016-03-21 20:49] redstreet commented on #226
Yes, correct.

[2016-03-21 23:00] yagebu commented on #226
The slow page load should be fixed. Can you confirm?

(Note: the dropdown select for the stored queries is currently broken, will probably fix that tomorrow)

[2016-03-21 23:13] yagebu commented on #226
Done. Easier than I thought.

[2016-03-21 23:46] adamgibbins opened #235 "Exclude expense categories from trial balance graph?"
I really love the idea of the graph at the top of the trial balance page, its a great visulisation. However, tax accounts for a significant chunk of my graph meaning everything else is squashed in the corner and harder to visualise. It'd be great if there was some way to either zoom in or entirely exclude certain expense categories (e.g. Expenses:Tax) so I can get better visualisation of things ac

[2016-03-22 00:05] redstreet commented on #226
Much better! Both the empty query page (< 1s) and the custom queries now load fast enough (not perceptible) that it's not even worth profiling (I can't profile easily on the machine that I build). Thank you!

[2016-03-22 02:39] blais commented on #226
On Mon, Mar 21, 2016 at 3:48 PM, Red S <notifications@github.com> wrote:

it in C at some point:
https://bitbucket.org/blais/beancount/src/cce57fdfca192f3f7bb443a02b25ebb356abe788/TODO?fileviewer=file-view-default#TODO-1261

AFAIK your query should only be calling it on demand if your query pulls
the "id" column:
https://bitbucket.org/blais/beancount/src/cce57fdfca192f3f7bb443a02b25ebb356abe788/sr

[2016-03-22 08:02] yagebu commented on #226
@blais No fault on your part! We had some horribly inefficient code in the query template. For all the stored queries, it would use the hash to determine the filename and lineno (I know it's in the meta attribute, no idea why that wasn't used). This meant linear time (in entries) for every query...

[2016-03-22 08:02] #226 closed

[2016-03-22 08:03] yagebu commented on #230
:+1: I also don't use the excel export and like this suggestion!

[2016-03-22 08:04] aumayr commented on #226
👼🏼

[2016-03-22 08:04] aumayr commented on #230
Is it possible to make this optional? Meaning that when pyexcel is installed the appropriate download-links are shown, and otherwise not.

[2016-03-22 08:07] yagebu commented on #230
Yes, we can wrap the import statement in a `try...except...` block. Will work on this.

[2016-03-22 09:06] miaoluda opened #236 "IE shows apostrophe as &#39; on charts."
![image](https://cloud.githubusercontent.com/assets/14816337/13945913/077dd202-f04c-11e5-806c-4fd2897651be.png)

Tested on IE10/11.

Firefox OK.

v0.2.5 was OK.

[2016-03-22 09:08] aumayr commented on #236
@redstreet You run Windows, right? Does this happen for you as well?

[2016-03-22 14:20] alexjj opened #237 "Demo site down - 500 error"
Your [demo site](http://fava.pythonanywhere.com/) is down. I also use pythonanywhere to host my fava instance and mine has stopped working too.

Pythonanywhere have just implemented a [deadman's switch](https://blog.pythonanywhere.com/129/) on free sites, but I've checked this on mine and the site should still be active.

My instance also automatically updates to the latest pip version of fava, so

[2016-03-22 19:36] redstreet commented on #236
Yes, I can confirm I'm seeing this on IE11 running on Cygwin/Windows as well, in 0.2.6. I haven't checked previous versions.

I run Cygwin/Windows + Chrome. It appears fine in Chrome.

[2016-03-22 20:54] #230 closed

[2016-03-22 21:01] yegle commented on #230
Thanks @yagebu, nice trick on setting `HAVE_EXCEL`.

[2016-03-23 07:04] #237 closed

[2016-03-23 07:05] aumayr commented on #237
Thanks @alexjj for reporting this. I made the mistake of not checking the demo-site after releasing the new version on Sunday, so my bad.

[2016-03-23 07:06] aumayr commented on #230
@yagebu Looks good!

[2016-03-23 07:19] #236 closed

[2016-03-23 07:21] aumayr commented on #236
@redstreet Thanks for confirming (saved me from setting up another VM).

I think this is a bug in the [Chartist.js](https://gionkunz.github.io/chartist-js/)-library we use for the charts. I simply changed the format from `MM 'YY` (eg. `Mar '16`) to `MM YYYY` (eg. `Mar 2016`) to avoid this - and it looks cleaner anyway, IMHO.

[2016-03-23 07:25] aumayr commented on #221
This seems to be due to a limitation on the `title` attribute of DOM-elements, where we copy this text from:

http://stackoverflow.com/a/29869137

I will move it to a `data-` attribute, where there should be no limit:

http://stackoverflow.com/a/26898881

[2016-03-23 07:28] redstreet commented on #235
I had the same problem. A quick fix is to write a plugin to rename accounts so they get out of the Expense category:
https://github.com/redstreet/beancount_plugins_redstreet/tree/master/rename_accounts

If one can stretch principles a bit, taxes can be considered as reducing income, and thus a part of income. Of course, this is just a big hack, and it's even worse when applied to other accounts. B

[2016-03-23 07:41] aumayr commented on #221
@redstreet Can you try if b2ffc5e fixes the length-limitation-issue?

[2016-03-23 08:19] redstreet commented on #221
I keep getting npm errors for any git package it tries to install when I run `make build-js`. It doesn't seem related to changes, it happens on older commits which installed fine earlier. So it's not directly related to this thread, but since I don't know much about npm, I thought I'd ask if this makes any sense to you?

[code]

[2016-03-23 12:59] yagebu commented on #221
Are you running an old version of npm by chance?

[2016-03-23 17:40] yegle commented on #230
Care to release a new version on PyPI? I'd like to pack a new docker image to reduce image size.

[2016-03-24 07:37] redstreet commented on #221
Yes, that was the problem, thanks!

However, b2ffc5e doesn't seem to solve the issue. If there's anything I can do to help debug, do let me know.

[2016-03-24 07:39] aumayr commented on #221
So you have more than 751 accounts, is that correct?

[2016-03-24 08:07] redstreet commented on #221
I believe it's fewer accounts, but the total number of balance directive lines exceeds 751 because of multiple commodities in in some accounts.

[2016-03-24 10:30] adamgibbins commented on #235
@redstreet Thanks for the suggestion of moving tax to income, feels like I'm cheating myself a bit but it works well. I'm not sure I understand the point of the plugin, I just renamed my accounts with a search and replace, I can't think of some reasoning I'd want it done on the fly?

[2016-03-24 15:54] yegle opened #238 "Show running balance when filtering out pending transactions"
I just realized that when you filter out pending transactions in "Trial balance" page, the code is doing a client side javascript thing and number doesn't change in the balance column.

Would it be possible to change this behavior, and show the running balance of current listed transaction instead?

Example transaction list:

flag | amount | balance
---|---|---
* | -100 USD | -100 USD
* | -200 USD

[2016-03-24 16:15] redstreet commented on #235
Taxes don't really belong in the Income category. The point of the plugin is to avoid making a permanent change, and to instead give you the option of easily and temporarily moving taxes or any other account to different hierarchies depending on the types of treemaps you want to see in fava.

In other words, while the plugin itself is a hack, searching and replacing my source files is an even bigg

[2016-03-24 17:19] yagebu opened #239 "Store Journal filters in GET-params"
Split from #217, ref #210.

[2016-03-24 17:24] yagebu commented on #217
Splitting this into two issues as they are not really related IMHO.

We should really support filtering entries by BQL FROM expressions, as this will combine their power with all the nice reports we provide (and will avoid setting up a different complicated way to filter entries).

The way I intend to implement this in the coming weeks, is to provide a switch to change from the current four filter

[2016-03-24 17:34] yagebu commented on #238
There are two different kinds of filters currently in fava:

- The ones in the header bar filter entries for all reports (and hence have an influence on both what's displayed as well as the balance etc.)
- The ones in the journal are just "display" filters that change what's shown on this page, so they shouldn't have an effect on the balance. Maybe this should be made clear on the help pages. I'm

[2016-03-24 17:34] #238 closed

[2016-03-24 17:47] yagebu commented on #227
This functionality was also removed to make our behaviour more correct. As the user is able to edit the stored query before they hit submit it might not be correct to show the name of the query that was selected. We could check for this, but that doesn't make a lot of sense as the other solution is simpler and better.

As @corani said, this can be fixed by loading the queries asynchronously (and I

[2016-03-24 17:48] yagebu commented on #221
Is this something that happens in all browsers? Can you provide a beancount file to reproduce the problem?

[2016-03-24 17:56] yagebu commented on #235
I guess this issue applies to all reports with treemaps (or any chart maybe). We should have a report, probably just named "Charts", where you show the treemap for a specified list of accounts (or maybe a regular expression to filter the accounts to display). Similar for other charts. A sunburst chart (ref #198) would be an even better visualization for this kind of hierarchical data (and one of t

[2016-03-24 18:04] redstreet commented on #235
Perhaps a more generally useful way would be to display a treemap/sunburst of an arbitrary query assuming the output is valid to display as a treemap/sunburst.

[2016-03-24 20:20] redstreet commented on #221
The same thing happens on Chrome and IE11, both under Windows. 805 lines are being copied currently.

I'll try to provide a beancount file, but this might be difficult as I'd have to reproduce the problem from the example file. It might be a while before I can get around to it. Though it would be nice to get to the bottom of this, this is not a big deal. Thanks for looking into it!

[2016-03-27 06:51] aumayr commented on #159
Yes, please do so :-)

[2016-03-27 11:27] aumayr commented on #198
For the sunburst chart:

Right now the charts are about 250px high, and this one would have to be much higher. Would it be OK if this chart is integrated where the others are right now, but will become much higher when clicked? Or would be a separate page/subpage more appropriate?

[2016-03-27 11:44] #218 closed

[2016-03-27 11:51] yagebu commented on #198
I think it's nice to have it on the same page, so :+1:

[2016-03-27 13:32] corani commented on #198
That seems in-line with the "drill-down" concept. Perhaps it's possible to show only one (or two) levels in the sunburst chart while it's collapsed, so you get a high-level view. Clicking on it would show all the levels in a larger overlay, so you can drill down further.

[2016-03-27 14:53] goshakkk opened #242 "Convert expenses to single currency"
I am trying to get on the CLI accounting bandwagon and trying out beancount as it seems to be the most semantically cohesive (also has fava!)

Is there a way to have expenses converted into a single currency (USD) in the charts (account page & income statement)? As well as everything on the trial balance page

<img width="1481" alt="screen shot 2016-03-27 at 5 41 22 pm" src="https://cloud.githubus

[2016-03-27 16:18] aumayr opened #243 "Translation"
Make all menus and texts in the UI translatable.

[2016-03-28 00:33] cgrinds opened #245 "Filter type-ahead doesn't type-ahead"
When you type into the payee filter text field, should the payee list be filtered via autocomplete as you type?
Nothing happens when I type, including when I press Enter.
Is this a bug or a not yet implemented feature?

![image](https://cloud.githubusercontent.com/assets/242252/14068719/90dc681c-f45a-11e5-88c3-e99752183007.png)

[2016-03-28 05:01] #245 closed

[2016-03-28 05:02] aumayr commented on #245
Thanks @cgrinds for the bug report - fixed in bf95e17.

[2016-03-28 06:10] aumayr commented on #198
Related:

- http://dimplejs.org (https://news.ycombinator.com/item?id=11369756)
- https://dc-js.github.io/dc.js/
- https://github.com/wrobstory/vincent
- https://plot.ly/javascript/

[2016-03-28 09:46] yagebu commented on #198
When I made the switch to webpack for the bundling our javascript files I ran into some problems with Chartist. Now again I've invested some time to look at the other available charting libraries. I mostly agree with this comment: https://news.ycombinator.com/item?id=11372145.

Most charting libraries, by trying to simplify the process of creating charts, make it much harder to customize anything.

[2016-03-28 11:38] aumayr commented on #198
Agreed. The [link of the sunburst chart @corani posted](http://bl.ocks.org/kerryrodden/7090426) is implemented in d3, so using that should be no problem.

[2016-03-28 16:34] yagebu commented on #242
This is currently not possible in fava, but it's a useful feature that we should have. There's an [issue](https://bitbucket.org/blais/beancount/issues/103/make-the-balance-sheet-and-income) on the beancount issue tracker for this as well.

This is something I've been meaning to implement for some time, but it doesn't have the highest priority for me. So no idea if I'll get round to do it anytime s

[2016-03-28 19:26] goshakkk commented on #242
I do know some Python and would appreciate any pointers on this feature, might get some time on the weekend to work on that

[2016-03-29 14:14] yagebu commented on #242
- We need a function to convert an inventory to the specified currency: `convert_inventory(price_map, target_currency, inventory)`. This can probably be done similarly to `beancount.ops.holdings.convert_to_currency`, as a Position and Holding have basically the same attributes (and an Inventory is a list of Positions). `ops.prices`, `ops.holdings` and the basic beancount data types should be all t

[2016-03-29 14:38] yagebu commented on #230
@yegle Sorry, forgot to reply sooner. I want to get some more features into the next release, so it might take some more time. I'm not very familiar how docker images work, but you could try building a source distribution (which will include the generated JS/CSS etc.) which you can then install with pip.

[2016-03-29 17:56] aumayr commented on #242
Maybe this could go (UI-wise) with #179: Having a new filter for "Currency" (as with Time, Tags, etc.) and in there a checkbox to convert everything to a certain currency or just filter for it.

[2016-04-02 23:46] yegle opened #247 "Potential memory leak?"
I was running fava in both OS X and Linux and the memory easily increase to >1GB in few days of running.

[2016-04-03 15:13] yagebu commented on #247
I don't think that we have any data structures in fava that grow indefinitely, so I don't have an idea where this is coming from if the garbage collection is doing its job. Does this also happen if you run it in debug mode?

[2016-04-04 04:15] yegle opened #248 "Trial balance page show weird balance number"
This is probably related to https://bitbucket.org/blais/beancount/issues/116/missing-account-from-bean-report-balances

The same minimal test case:
[code]

Fava gives the following balance number on `/trial_balance` page:

Account|USD|Other
----|----|----
Cash| |-10
One|10|-1 UNIT
Two| |1 UNIT

The balance on `Assets:One` account is incorrect and I'm not even sure what it means...

[2016-04-04 07:23] yagebu commented on #248
This is all as expected. The trial balance shows the book value of all accounts, and your `Assets:One` account contains `1 UNIT {10 USD}` and `-1 UNIT`. The second posting on the account only uses a price, so it can't match the `1 UNIT` that's already in the account because that one has a cost attached to it.

[2016-04-04 07:23] #248 closed

[2016-04-04 21:57] cgrinds opened #249 "Account tables are jaggy with change to flex box"
Was the intent to make the left edge of the table jaggy?
Here's what it looks like at the latest commit (c956257) on head.

![image](https://cloud.githubusercontent.com/assets/242252/14264861/38666a18-fa8e-11e5-8d72-3a804f34e3e7.png)

Before the flex box commit, tables looked like this
![image](https://cloud.githubusercontent.com/assets/242252/14264887/615b7030-fa8e-11e5-8caa-5ca04eb6b442.png)

[2016-04-04 22:11] yagebu commented on #249
Yes, see #246.

[2016-04-04 22:18] cgrinds commented on #249
Thanks @yagebu - I missed that.

[2016-04-04 22:18] #249 closed

[2016-04-05 04:00] yegle commented on #248
Hmm I can't reproduce the exact problem I have. For some of my account, I can see the USD column show a negative number.

Anyway I guess I'll need provide a minimal case before you can look into further.

[2016-04-06 00:10] Unode opened #250 "Fava monitors too many files with encrypted beancount"
I have my beancount file encrypted with gnupg and stored in `~/file.beancount.gpg`. I then start fava with:

    fava ~/file.beancount.gpg

As soon as I try to browse the web interface, it takes a long time to respond, my CPU spikes and some seconds later I start seeing random waiter messages on the terminal like:

    ...
    [I 160406 01:38:01 handlers:132] Browser Connected: http://localhost:50

[2016-04-07 07:43] yagebu commented on #250
Thank you for the report! I'm not using encrypted beancount files, so I didn't run into this yet. Will investigate. For now, it's probably easiest to run `fava` in debug mode which will disable the autoreload.

[2016-04-07 12:44] wogong opened #251 "Open pdf documents in Chrome instead of downloading"
When I click a pdf document link, it will be downloaded in fava but directly opened in bean-web (my browser is Chrome).
It makes sense to have the pdf documents directly opened in Chrome instead of being downloaded.
I googled the pdf links' behaviour in Chrome and confirmed that the Chrome PDF Viewer in `chrome://plugins/` is `Always allowed to run`.
So I wonder it may be because the links' differ

[2016-04-07 13:15] corani commented on #251
It is because of https://github.com/aumayr/fava/blob/master/fava/application.py#L179

[2016-04-07 14:21] yagebu commented on #251
fava should behave like this since 40a16e7ec04ebfc33183f60201fe0ed64bd04473 (which is part of the latest release). Which version are you running?

No, that's for query results, which we want to send as attachments. [This](https://github.com/aumayr/fava/blob/master/fava/application.py#L110) is the relevant line.

[2016-04-07 14:34] wogong commented on #251
@yagebu
cool! Things works well now after upgrading to version 0.2.6.
previous my beancount-fava version is 0.2.5.

Thanks @corani.

[2016-04-07 14:51] corani commented on #251
Ah, you're right @yagebu. Thanks for the clarification. And now that you
mention it, I do remember that change going in... I'm a bit fuzzy lately :-)

On Thu, Apr 7, 2016 at 10:34 PM, Cheng Zhen <notifications@github.com>
wrote:

--
Best regards,
Daniël Bos

Your government is reading your email. Slow them down with encryption.

My public key: http://goo.gl/gms497 (4096 bit RSA, id EF2D5D91)
Finge

[2016-04-07 15:22] #251 closed

[2016-04-07 15:33] corani commented on #247
I've added some instrumentation, to dump memory usage summaries, in my
local install and can't reproduce this issue (on Linux). After a couple of
days, I don't see significant growth in memory usage (in debug mode).

I'll try the same in normal mode, as the only candidate I can think of
would be something related with the auto-reloader.

On Sun, Apr 3, 2016, 23:13 Jakob Schnitzer <notifications@gi

[2016-04-07 16:46] yegle commented on #247
@corani that's my suspicion as well. I'm using fava to check a Dropbox directory, of which I frequently add new documents and modify them.

[2016-04-07 17:00] corani commented on #247
May be related to #250

[2016-04-07 20:27] Unode commented on #250
I had a look at the cause and it seems to be a problem with `livereload` watchers.

I couldn't find documentation about this but could it be that if `server.watch` is never called, the `server.serve` code assumes all files under the current working directory (recursively) are to be monitored?

The problem with having the file encrypted is that beancount returns `filename="<string>"` (stdin pipe?)

[2016-04-08 01:01] yegle opened #253 "Bar chart: Increase clickable area for small bars"
Currently there's no minimal length of the bars in bar charts, which may result in a chart like below, where I can barely see the amount of the last bar.

![screen shot 2016-04-07 at 5 58 42 pm](https://cloud.githubusercontent.com/assets/146133/14371229/6add6420-fcea-11e5-9a39-83ed834fb899.png)

[2016-04-08 04:55] xiaoruoruo opened #254 "Events table missing events"
It seems /events/ only display the last event in the table.

Example file:

2014-04-15 event "employer" "A"
2015-03-15 event "employer" "B"
2016-03-15 event "employer" "C"

Attached screenshot for http://localhost:5000/events/
![screenshot](https://cloud.githubusercontent.com/assets/452520/14374508/6d4b8de2-fd0b-11e5-88a2-2f9bc7d55e16.png)

[2016-04-08 07:08] yagebu commented on #254
That's the intended behaviour. Click on the event name to show the page for the event employer.

[2016-04-08 07:08] #254 closed

[2016-04-08 07:53] yagebu commented on #253
I don't really see the issue here. Isn't it the point of a bar chart to show how much is in the account? So if the amount is small (or 0) then the bar should also be small (or of height 0).

[2016-04-08 12:27] cgrinds commented on #165
@aumayr any help needed on this one?

[2016-04-08 12:35] aumayr commented on #165
@cgrinds Sorry for the long wait, but I still did not get around to get this working properly. So help is very much appreciated!

What I have:
- The mechanism to calculate the budgets works. You pop in the balance directives (coming from metadata or the new custom directives or it's own file) and it then can give you the budget from a start-date to an end-date.
- Styling of how this would look in

[2016-04-08 14:50] cgrinds opened #255 "Improve investment display in Journal table"
Today investments display like so:
![image](https://cloud.githubusercontent.com/assets/242252/14387330/e7909a82-fd76-11e5-9acb-e3ec080caa61.png)

Wouldn't it be more clear to display the posting like so?
![image](https://cloud.githubusercontent.com/assets/242252/14387491/ab4e8812-fd77-11e5-91a5-9854233ad180.png)

Fewer decimals would help too, but that's a slightly separate issue.

[2016-04-08 17:09] yegle commented on #253
In a printed bar chart, yes. But on a computer screen a bar too short will make it unclickable.

[2016-04-08 18:07] yagebu commented on #253
I see what you mean. Increasing the bar doesn't make sense but we can increase of the clickable area.

[2016-04-08 19:58] aumayr commented on #198
@yagebu I implemented the sunburst chart on top of #252. When you merge I will clean up my code and add a PR.

[2016-04-09 03:35] cgrinds commented on #165
I took a look at what you have so far and IMO you're close enough to merge into main and get more folks kicking the tires.

There are certainly many experiments on how to show over/under budget, red/green/yellow bars, something like this, but those are iterations on the core of what you have now. And those experiments are less likely to happen until you merge.

| Expense   | Budgets     | Spent

[2016-04-09 07:23] aumayr commented on #165
@cgrinds I pushed a new branch and created this PR to discuss code/optimizations: #257

[2016-04-09 11:20] aumayr commented on #198
Thanks @corani and @yagebu for the help!

I will close this issue, but feel free to reopen it if you find any bugs or annoyances with the current implementation.

[2016-04-09 11:21] aumayr opened #258 "New chart types: Calendar and Sankey"
These two charts look like we could use them:

![sankey](https://cloud.githubusercontent.com/assets/5135450/14403424/ee9b3488-fe55-11e5-8674-2a41127860dc.png)

https://bost.ocks.org/mike/sankey/

![calendar](https://cloud.githubusercontent.com/assets/5135450/14403425/f0800846-fe55-11e5-9460-3876af0ef850.png)
http://bl.ocks.org/mbostock/4063318

Do you think this is worth the trouble?

[2016-04-09 17:35] blais commented on #165
On Fri, Apr 8, 2016 at 11:35 PM, Chris Grindstaff <notifications@github.com>
wrote:

The only reason I haven't included account names in the sets of directives
is that they don't parse into their own datatype... they parse into 'str'
objects. Therefore, there's no practical way to round-trip them.

Short of creating a new custom datatype for Account names - and BTW I've
thought about it, and it wo

[2016-04-10 06:05] corani commented on #198
The new treemap and sunburst don't work for me.

Treemap:
- When I select "Assets (CNY)", I get only one entry: Cash, with the value of my Assets:Cash in USD.

Sunburst:
- While the size of the sections looks correct, the labels are all incorrect. Most of them are 0, some of them have amounts in the wrong currency (for example, all my Assets:Cash sections show the amount in USD)
- Equity shows onl

[2016-04-10 06:56] aumayr commented on #198
@corani Thanks for reporting - I see the same bugs.

[2016-04-10 12:20] yagebu commented on #198
Should be fixed.

This is not really a bug When no time filter is set, accounts aren't closed so these entries aren't generated. But maybe it would make sense to always close on "today" if nothing else is specified, and always generate the closing entries.

[2016-04-10 14:27] corani commented on #198
@yagebu Treemap looks fixed, however, it now shows all of the first four charts on the page, the links below the charts have stopped working, and it only shows the first few links (up until the second operating currency for "Assets").

Additionally, I get the following error:
`Uncaught TypeError: Cannot read property 'length' of undefined`

[2016-04-10 14:29] aumayr commented on #198
@yagebu I can second what @corani reports - same error.

[2016-04-10 14:34] aumayr commented on #165
Thanks @blais for implementing Account names in custom directives!

Now it looks very clean to use the custom directives to implement the budget-entries, so I will implement this.

For reference: https://bitbucket.org/blais/beancount/commits/7741ed8fa3e5